Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Bump testnet validators and mainnet RPC to v8.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Add v8.0.0 to the upgrade version history
  docs/upgrades.md
Due: markdown-format

Fix metrics scraper panic when outflow limit is zero
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Update image sha for metrics-scraper
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
Due: none

Add state_override to EthCallRequest request proto type
  proto/ethermint/evm/v1/query.proto
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.go
Due: go-lint

Add state override support for eth_call
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/namespaces/ethereum/eth/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_override.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
Due: go-lint

Add storageWiped flag to prevent stale storage reads after SetStorage
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
Due: go-lint

Cover grpc stateOverride param with tests
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Simplify OverrideAccount struct
  rpc/types/types.go
  x/evm/keeper/state_override.go
Due: go-lint

Cover stateOverride struct with unit tests
  x/evm/keeper/state_override_test.go
Due: go-lint

Cover StateDB SetStorage and SetBalance with tests
  x/evm/statedb/statedb_test.go
Due: go-lint

Add state_override support to eth_estimateGas
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/namespaces/ethereum/eth/api.go
  x/evm/keeper/grpc_query.go
Due: go-lint

Update EVM compatibility docs
  docs/evm-compatibility.md
Due: markdown-format

Introduce configurable delay for triparty mints
  docs/rfc/rfc-6.md
Due: markdown-format

Return bool from precompile functions
  docs/rfc/rfc-6.md
Due: markdown-format

Read up to TripartyBatch triparty bridge requests
  docs/rfc/rfc-6.md
Due: markdown-format

Introduce sequence number for triparty bridge requests
  docs/rfc/rfc-6.md
Due: markdown-format

Allow configuring callbacks for triparty bridging
  docs/rfc/rfc-6.md
Due: markdown-format

Revert from bridgeTriparty for blocked addresses
  docs/rfc/rfc-6.md
Due: markdown-format

Allow configuring global limits for triparty bridging
  docs/rfc/rfc-6.md
Due: markdown-format

Guarantee processing of triparty requests
  docs/rfc/rfc-6.md
Due: markdown-format

Add Bridge out limits as future work
  docs/rfc/rfc-6.md
Due: markdown-format

Lint RFC-6 with no logical changes to the content
  docs/rfc/rfc-6.md
Due: markdown-format

Rename SetBalance/SetStorage to OverrideBalance/OverrideStorage
  x/evm/keeper/state_override.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Require blocked address check in triparty PreBlocker logic
  docs/rfc/rfc-6.md
Due: markdown-format

Accept callback struct in bridgeTriparty
  docs/rfc/rfc-6.md
Due: markdown-format

Cache empty value in originStorage for overridden storage lookups
  x/evm/statedb/state_object.go
Due: go-lint

Decouple state overrides from core state transition
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
Due: go-lint

Improve documentation for OverrideStorage and OverrideBalance
  x/evm/statedb/statedb.go
Due: go-lint

Remove callback address and use the controller as a callback
  docs/rfc/rfc-6.md
Due: markdown-format

Add setTripartyBlockDelay to AssetsBridge precompile v6
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  x/bridge/keeper/triparty.go
  x/bridge/types/keys.go
  x/evm/types/precompile.go
Due: go-lint

Add v9.0.0 upgrade handler to bump AssetsBridge precompile to v6
  app/upgrades.go
  app/upgrades/v9_0/constants.go
  app/upgrades/v9_0/upgrades.go
Due: go-lint

Always call the triparty minting callback
  docs/rfc/rfc-6.md
Due: markdown-format

Renamed periodLimit to windowLimit in RFC-6
  docs/rfc/rfc-6.md
Due: markdown-format

Add setTripartyLimits and getTripartyLimits to AssetsBridge precompile
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  x/bridge/keeper/triparty.go
  x/bridge/types/keys.go
Due: go-lint

Add getTripartyBlockDelay read method to AssetsBridge precompile
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Add getTripartyBlockDelay read method to AssetsBridge precompile
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Use AssetsBridgePrecompileLatestVersion = 5
  app/upgrades/v9_0/upgrades.go
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  x/evm/types/precompile.go
Due: go-lint

Update AssetsBridgeCaller with new triparty functions
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
Due: none

Regenerate assetsbridge.EvmByteCode
  precompile/assetsbridge/byte_code.go
Due: go-lint

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
