Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Configure dotenv for precompile/hardhat
  precompile/hardhat/hardhat.config.ts
  precompile/hardhat/package-lock.json
  precompile/hardhat/package.json
Due: none

Rename the bridgeable token implementation to mERC20
  x/bridge/solidity/contracts/mERC20.sol
  x/bridge/solidity/contracts/test/TestERC20.sol
  x/bridge/solidity/contracts/test/mTestERC20.sol
  x/bridge/solidity/deploy/01_deploy_m_test_erc20.ts
  x/bridge/solidity/package.json
  x/bridge/solidity/test/TestERC20.test.ts
  x/bridge/solidity/test/mTestERC20.test.ts
Due: none

Move x/bridge/solidity to solidity
  .gitignore
  solidity/.env.example
  solidity/.gitignore
  solidity/contracts/mERC20.sol
  solidity/contracts/test/mTestERC20.sol
  solidity/deploy/01_deploy_m_test_erc20.ts
  solidity/hardhat.config.ts
  solidity/helpers/deploy-helpers.ts
  solidity/package-lock.json
  solidity/package.json
  solidity/test/helpers/contract.ts
  solidity/test/mTestERC20.test.ts
  solidity/tsconfig.json
Due: none

Generalize the mERC20 deploy script
  solidity/deploy/01_deploy_m_test_erc20.ts
  solidity/hardhat.config.ts
  solidity/helpers/deploy-helpers.ts
  solidity/test/mTestERC20.test.ts
Due: none

Distinguish token contract and name
  solidity/deploy/01_deploy_m_test_erc20.ts
  solidity/helpers/deploy-helpers.ts
  solidity/test/mTestERC20.test.ts
Due: none

Script for bridge mappings
  solidity/.env.example
  solidity/deploy/13_create_bridge_mappings.ts
  solidity/external/mainnet/AssetsBridge.json
  solidity/external/testnet/AssetsBridge.json
  solidity/hardhat.config.ts
  solidity/helpers/deploy-helpers.ts
Due: none

Deployment of mSolvBTC
  solidity/contracts/mSolvBTC.sol
  solidity/deploy/02_deploy_m_solvbtc.ts
  solidity/external/ethereum-mainnet/SolvBTC.json
Due: none

Deployment of mT
  solidity/contracts/mT.sol
  solidity/deploy/03_deploy_m_t.ts
  solidity/deploy/13_create_bridge_mappings.ts
  solidity/external/ethereum-mainnet/T.json
  solidity/external/ethereum-sepolia/T.json
  solidity/hardhat.config.ts
Due: none

Deployment of mxSolvBTC
  solidity/contracts/mxSolvBTC.sol
  solidity/deploy/04_deploy_m_xsolvbtc.ts
  solidity/external/ethereum-mainnet/xSolvBTC.json
Due: none

Deployment of mUSDC
  solidity/contracts/mUSDC.sol
  solidity/deploy/05_deploy_m_usdc.ts
  solidity/external/ethereum-mainnet/USDC.json
  solidity/external/ethereum-sepolia/USDC.json
Due: none

Deploy existing `m*` tokens on Mezo testnet
  solidity/.openzeppelin/unknown-31611.json
  solidity/deploy/13_create_bridge_mappings.ts
  solidity/deployments/testnet/.chainId
  solidity/deployments/testnet/mSolvBTC.json
  solidity/deployments/testnet/mT.json
  solidity/deployments/testnet/mUSDC.json
  solidity/deployments/testnet/mxSolvBTC.json
Due: none

Add sepolia artifact for SolvBTC
  solidity/external/ethereum-sepolia/SolvBTC.json
Due: none

Deployment of mUSDT
  solidity/contracts/mUSDT.sol
  solidity/deploy/06_deploy_m_usdt.ts
  solidity/external/ethereum-mainnet/USDT.json
  solidity/external/ethereum-sepolia/USDT.json
Due: none

Deployment of mUSDe
  solidity/contracts/mUSDe.sol
  solidity/deploy/07_deploy_m_usde.ts
  solidity/external/ethereum-mainnet/USDe.json
  solidity/external/ethereum-sepolia/USDe.json
Due: none

Deployment of mFBTC
  solidity/contracts/mFBTC.sol
  solidity/deploy/08_deploy_m_fbtc.ts
  solidity/external/ethereum-mainnet/FBTC.json
  solidity/external/ethereum-sepolia/FBTC.json
Due: none

Deployment of mcbBTC
  solidity/contracts/mcbBTC.sol
  solidity/deploy/09_deploy_m_cbbtc.ts
  solidity/external/ethereum-mainnet/cbBTC.json
  solidity/external/ethereum-sepolia/cbBTC.json
Due: none

Deployment of mDAI
  solidity/contracts/mDAI.sol
  solidity/deploy/10_deploy_m_dai.ts
  solidity/external/ethereum-mainnet/DAI.json
  solidity/external/ethereum-sepolia/DAI.json
Due: none

Deployment of swBTC
  solidity/contracts/mswBTC.sol
  solidity/deploy/11_deploy_m_swbtc.ts
  solidity/external/ethereum-mainnet/swBTC.json
  solidity/external/ethereum-sepolia/swBTC.json
Due: none

Add new `m*` tokens to the mapping script
  solidity/deploy/12_create_bridge_mappings.ts
Due: none

Deploy remaining `m*` contracts on testnet
  solidity/.openzeppelin/unknown-31611.json
  solidity/deployments/testnet/mDAI.json
  solidity/deployments/testnet/mFBTC.json
  solidity/deployments/testnet/mUSDT.json
  solidity/deployments/testnet/mUSDe.json
  solidity/deployments/testnet/mcbBTC.json
  solidity/deployments/testnet/mswBTC.json
Due: none

Create README for `solidity` dir
  solidity/README.md
Due: markdown-format

Unit test covering mERC20.decimals
  solidity/deploy/01_deploy_m_test_erc20.ts
  solidity/test/mTestERC20.test.ts
Due: none

Rename stablecoins to avoid confusion with MUSD
  solidity/deploy/05_deploy_m_usdc.ts
  solidity/deploy/06_deploy_m_usdt.ts
  solidity/deploy/07_deploy_m_usde.ts
Due: none

Re-deploy mERC20s on testnet
  solidity/.openzeppelin/unknown-31611.json
  solidity/README.md
  solidity/deployments/testnet/mDAI.json
  solidity/deployments/testnet/mFBTC.json
  solidity/deployments/testnet/mSolvBTC.json
  solidity/deployments/testnet/mT.json
  solidity/deployments/testnet/mUSDC.json
  solidity/deployments/testnet/mUSDT.json
  solidity/deployments/testnet/mUSDe.json
  solidity/deployments/testnet/mcbBTC.json
  solidity/deployments/testnet/mswBTC.json
  solidity/deployments/testnet/mxSolvBTC.json
Due: markdown-format

Mainnet deployment
  solidity/.openzeppelin/unknown-31612.json
  solidity/README.md
  solidity/deployments/mainnet/.chainId
  solidity/deployments/mainnet/mDAI.json
  solidity/deployments/mainnet/mFBTC.json
  solidity/deployments/mainnet/mSolvBTC.json
  solidity/deployments/mainnet/mT.json
  solidity/deployments/mainnet/mUSDC.json
  solidity/deployments/mainnet/mUSDT.json
  solidity/deployments/mainnet/mUSDe.json
  solidity/deployments/mainnet/mcbBTC.json
  solidity/deployments/mainnet/mswBTC.json
  solidity/deployments/mainnet/mxSolvBTC.json
Due: markdown-format

Parametrize mainnet explorer RPC
  infrastructure/kubernetes/mezo-production/README.md
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
Due: markdown-format

RPC endpoints improvements and refactors
  go.mod
  go.sum
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: go-lint

refresh outdates dependencies
  go.mod
  go.sum
Due: none

Disable multi sdk.Msg per transaction.
  app/ante/ante.go
  app/ante/evm/ante_test.go
Due: go-lint

add extra tests for logs when converting big.Int to int64
  app/ante/evm/fees.go
  app/ante/evm/fees_test.go
Due: go-lint

encode nonceKeys for permit to hex, before hashing them
  precompile/erc20/permit.go
  precompile/erc20/testsuite/permit.go
Due: go-lint

Fix behaviour of the ERC20.approve(0)
  precompile/erc20/approve.go
  tests/system/contracts/BTCTransfers.sol
  tests/system/test/BTCTransfers.test.ts
Due: go-lint

update comment
  precompile/erc20/approve.go
Due: go-lint

remove unecessary method
  tests/system/contracts/BTCTransfers.sol
Due: none

Apply suggestions from code review
  tests/system/test/BTCTransfers.test.ts
Due: none

explicitly return an error for negative amount on approve and permit
  precompile/erc20/approve.go
  precompile/erc20/permit.go
Due: go-lint

Adding nonces() method for ERC20 precompile
  precompile/btctoken/abi.json
  precompile/btctoken/btctoken.go
  precompile/erc20/IERC20WithPermit.sol
  precompile/erc20/permit.go
  precompile/erc20/testsuite/permit.go
  precompile/mezotoken/abi.json
  precompile/mezotoken/mezotoken.go
Due: go-lint

Adding nonces() to hardhat tasks
  precompile/hardhat/tasks/btctoken.ts
  precompile/hardhat/tasks/mezotoken.ts
Due: none

Add extra test to prove that the behaviour of ERC20.approve is correct
  tests/system/test/MEZOTransfers.test.ts
Due: none

address review comments
  tests/system/test/MEZOTransfers.test.ts
Due: none

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
