Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Fix newline at end of file
  infrastructure/kubernetes/mezo-production/monitoring/musd-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/musd-exporter/configmap.yaml
Due: none

Add contracts file for using balance exporter
  infrastructure/kubernetes/common/monitoring/balance-exporter/deployment.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/balance-exporter/configmap.yaml
Due: none

Use new balance exporter image
  infrastructure/kubernetes/common/monitoring/balance-exporter/deployment.yaml
Due: none

Fix Docker image GLIBC issue
  Dockerfile
Due: none

The v4.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v4_0/constants.go
  app/upgrades/v4_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Update v4.0.0 testnet block
  docs/upgrades.md
Due: markdown-format

Bump testnet nodes to v4.0.0-rc0
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Used logger from Cosmos SDK
  bridge-worker/bridge_worker.go
  bridge-worker/start.go
Due: go-lint

Moved BTC withdrawing into a separate file
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawing.go
Due: go-lint

Implemented basic functionalities for BTC withdrawing
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawing.go
Due: go-lint

add base endpoint to submit signature
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/types/types.go
Due: go-lint

golang-ci lint
  bridge-worker/client/client.go
  bridge-worker/server.go
  ethereum/sidecar/server.go
Due: go-lint

add bridge worker client
  bridge-worker/client/client.go
  ethereum/sidecar/batch_attestation.go
  ethereum/sidecar/batch_attestation_test.go
  ethereum/sidecar/mock_bridge_worker_test.go
  ethereum/sidecar/server.go
Due: go-lint

update abiEncodeAttestationWithChainID method
  bridge-worker/server.go
Due: go-lint

rename *SubmitSignature -> *SubmitAttestation
  bridge-worker/client/client.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/types/types.go
  ethereum/sidecar/batch_attestation.go
  ethereum/sidecar/batch_attestation_test.go
  ethereum/sidecar/mock_bridge_worker_test.go
Due: go-lint

Added test for computing pending withdrawal hash
  bridge-worker/btc_withdrawing.go
  bridge-worker/btc_withdrawing_test.go
Due: go-lint

Added processing incoming AssetsUnlockedConfirmed events
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawing.go
  bridge-worker/btc_withdrawing_test.go
Due: go-lint

Prepare the metrics scraper for the bridge monitoring
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/config.go
  metrics-scraper/metrics_scraper.go
  metrics-scraper/monitoring.go
  metrics-scraper/node_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Use Cobra as command runner for metrics scraper
  cmd/metrics-scraper/flags.go
  cmd/metrics-scraper/main.go
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/config.go
  metrics-scraper/metrics_scraper.go
  metrics-scraper/node_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Update k8s deployment of the metrics scraper
  Dockerfile.metrics-scraper
  infrastructure/kubernetes/common/monitoring/README.md
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  metrics-scraper/bridge_monitoring.go
Due: go-lint, markdown-format

Run go mod tidy
  go.sum
Due: none

Modify the add-node.sh script
  infrastructure/kubernetes/common/monitoring/add-node.sh
Due: none

Generated bindings for tBTC Bridge (sepolia)
  ethereum/bindings/tbtc/sepolia/gen/_address/Bridge
  ethereum/bindings/tbtc/sepolia/gen/abi/Bridge.go
  ethereum/bindings/tbtc/sepolia/gen/abi/Bridge.json
  ethereum/bindings/tbtc/sepolia/gen/contract/Bridge.go
  ethereum/bindings/tbtc/sepolia/gen/gen.go
  go.sum
Due: go-lint

Generated bindings for tBTC Bridge (mainnet)
  ethereum/bindings/tbtc/mainnet/gen/_address/Bridge
  ethereum/bindings/tbtc/mainnet/gen/abi/Bridge.go
  ethereum/bindings/tbtc/mainnet/gen/abi/Bridge.json
  ethereum/bindings/tbtc/mainnet/gen/contract/Bridge.go
  ethereum/bindings/tbtc/mainnet/gen/gen.go
  go.sum
Due: go-lint

Wired tBTC Bridge bindings so that they are usable
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawing.go
  ethereum/bindings/tbtc/tbtc.go
Due: go-lint

Added comment explaining how bindings can be generated manually
  ethereum/bindings/tbtc/tbtc.go
Due: go-lint

Connect to MezoBridge contract on Ethereum
  cmd/metrics-scraper/flags.go
  cmd/metrics-scraper/main.go
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/metrics_scraper.go
Due: go-lint

Switched to mainnet bindings for all networks
  ethereum/bindings/tbtc/tbtc.go
Due: go-lint

Remove go:generate directive
  ethereum/bindings/tbtc/mainnet/gen/gen.go
  ethereum/bindings/tbtc/sepolia/gen/gen.go
Due: go-lint

Connect to AssetsBridge on Mezo
  metrics-scraper/assetsbridge.go
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Fix linting
  ethereum/bindings/tbtc/tbtc.go
Due: go-lint

Chain ID check for Mezo
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Fix linter errors
  cmd/metrics-scraper/flags.go
  cmd/metrics-scraper/main.go
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/metrics_scraper.go
Due: go-lint

Expose the pending_assets_locked metric
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Scaffolding for the pending_assets_unlocked metric
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Added event enqueuing and dequeuing
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawing.go
Due: go-lint

Improved naming
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  bridge-worker/btc_withdrawal_test.go
Due: go-lint

Expose the pending_assets_unlocked metrics
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Add dashboard for PCV rebalancing
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/pcv-rebalancing.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

Fix units and precision on PCV dashboard
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/pcv-rebalancing.json
Due: none

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
