Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Fix alert rule for pcv debt to pay to use correct contract call
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Update production alerting rule to match new expression
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
Due: none

Add dashboards for when backing ratio falls below 80%
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/pcv-rebalancing.json
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Used finalized block instead of current block
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  ethereum/bindings/portal/portal.go
Due: go-lint

Added Bitcoin withdrawal transaction submission
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Rename balance-exporter to contracts-exporter
  infrastructure/kubernetes/common/monitoring/contracts-exporter/deployment.yaml
  infrastructure/kubernetes/common/monitoring/contracts-exporter/service.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/contracts-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/contracts-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Used event's unlock sequence as key in finality checks
  bridge-worker/btc_withdrawal.go
Due: go-lint

Updated docstrings
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Expanded config parameters
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  bridge-worker/config/config.go
  bridge-worker/config/config.json.SAMPLE
  bridge-worker/start.go
Due: go-lint

Improved logging
  bridge-worker/btc_withdrawal.go
Due: go-lint

Add precompile methods allowing to set Bitcoin-specific min amounts for bridge out
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/min_amount.go
  x/bridge/keeper/assets_unlocked.go
  x/bridge/types/keys.go
Due: go-lint

Check the Bitcoin-specific min amount for Bitcoin bridge outs
  precompile/assetsbridge/bridge_out.go
Due: go-lint

Re-generate precompile ABI
  precompile/assetsbridge/abi.json
Due: none

Re-generate precompile bytecode
  precompile/assetsbridge/byte_code.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
Due: go-lint

Ad HH tasks for new precompile methods
  precompile/hardhat/tasks/assetsbridge.ts
Due: none

Cover new methods with unit tests
  precompile/assetsbridge/bridge_out_test.go
  precompile/assetsbridge/min_amount_test.go
  precompile/assetsbridge/setup_test.go
  x/bridge/keeper/assets_unlocked_test.go
Due: go-lint

Used current block when fetching events
  bridge-worker/btc_withdrawal.go
Due: go-lint

Remove error from SetMinBridgeOutAmountForBitcoinChain
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/bridge_out_test.go
  precompile/assetsbridge/min_amount.go
  precompile/assetsbridge/min_amount_test.go
  precompile/assetsbridge/setup_test.go
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/assets_unlocked_test.go
Due: go-lint

Limited the number of retries for Bitcoin withdrawing
  bridge-worker/btc_withdrawal.go
Due: go-lint

Emit event on Bitcoin-specific min amount change
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/byte_code.go
  precompile/assetsbridge/min_amount.go
Due: go-lint

Add missing return
  precompile/assetsbridge/bridge_out.go
Due: go-lint

Added wallet selection for Bitcoin withdrawing
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  ethereum/bindings/tbtc/tbtc.go
Due: go-lint

Added Bitcoin client configuration
  bridge-worker/config/config.go
  bridge-worker/config/config.json.SAMPLE
  bridge-worker/start.go
Due: go-lint

Fix Dockerfile after tBTC bindings addition
  Dockerfile
Due: none

Added package for Bitcoin connectivity
  bridge-worker/bitcoin/bitcoin.go
  bridge-worker/bitcoin/chain.go
  bridge-worker/bitcoin/hash.go
  bridge-worker/bitcoin/script.go
  bridge-worker/bitcoin/transaction.go
  bridge-worker/bitcoin/transaction_builder.go
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  go.mod
Due: go-lint

Bump testnet nodes to v4.0.0-rc2
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Extended bridge-worker configuration
  bridge-worker/bitcoin/bitcoin.go
  bridge-worker/bitcoin/electrum/config.go
  bridge-worker/bitcoin/electrum/electrum.go
  bridge-worker/bridge_worker.go
  bridge-worker/config/config.go
  bridge-worker/config/config.json.SAMPLE
  bridge-worker/start.go
Due: go-lint

Added Electrum client
  bridge-worker/bitcoin/byteutils.go
  bridge-worker/bitcoin/electrum/electrum.go
  bridge-worker/bitcoin/electrum/transaction.go
  bridge-worker/bitcoin/hash.go
  go.mod
  go.sum
Due: go-lint

Minor fixes to config and linting
  bridge-worker/bitcoin/electrum/electrum.go
  bridge-worker/bitcoin/electrum/transaction.go
  bridge-worker/config/config.go
Due: go-lint

Implemented waiting for initial fetching of live wallets
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Update MezoBridge mainnet bindings
  Makefile
  ethereum/bindings/portal/ethereum/gen/Makefile
  ethereum/bindings/portal/ethereum/gen/abi/MezoBridge.go
  ethereum/bindings/portal/ethereum/gen/contract/MezoBridge.go
  ethereum/bindings/portal/portal.go
  ethereum/bindings/portal/sepolia/gen/Makefile
  ethereum/bindings/portal/sepolia/gen/abi/MezoBridge.go
  ethereum/bindings/portal/sepolia/gen/contract/MezoBridge.go
  ethereum/bindings/portal/sepolia/gen/gen.go
Due: go-lint

Kubernetes deployment updates
  infrastructure/kubernetes/common/monitoring/README.md
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
Due: markdown-format

Implemented wallet selection for Bitcoin withdrawal
  bridge-worker/bitcoin/bitcoin.go
  bridge-worker/bitcoin/electrum/transaction.go
  bridge-worker/bitcoin/script.go
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Higher poll rate for the bridge
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
Due: none

Grafana dashboards for the bridge
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/bridge.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/bridge.json
Due: none

Enabled fetching AssetsUnlock events from Mezo
  bridge-worker/assets_unlocked.go
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  bridge-worker/config/config.go
  bridge-worker/config/config.json.SAMPLE
Due: go-lint

Added logging while running bridge-worker
  bridge-worker/bridge_worker.go
Due: go-lint

Added logs for Electrum
  bridge-worker/bitcoin/electrum/electrum.go
  bridge-worker/bridge_worker.go
Due: go-lint

Improved comments
  bridge-worker/btc_withdrawal.go
Due: go-lint
