Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Register cached ctx checkpoint before precompile call
  precompile/contract.go
Due: go-lint

The v1.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v1_0/constants.go
  app/upgrades/v1_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Bump Mezo testnet nodes to v1.0.0-rc0
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Add environment to the portal bindings structure
  Makefile
  ethereum/bindings/common/gen/Makefile
  ethereum/bindings/portal/mainnet/gen/Makefile
  ethereum/bindings/portal/mainnet/gen/gen.go
  ethereum/bindings/portal/sepolia/gen/Makefile
  ethereum/bindings/portal/sepolia/gen/gen.go
Due: go-lint

Regenerate bindings with the new dir structure
  ethereum/bindings/portal/gen/_address/.keep
  ethereum/bindings/portal/gen/_address/MezoBridge
  ethereum/bindings/portal/gen/abi/.keep
  ethereum/bindings/portal/gen/contract/.keep
  ethereum/bindings/portal/mainnet/gen/_address/MezoBridge
  ethereum/bindings/portal/mainnet/gen/abi/MezoBridge.go
  ethereum/bindings/portal/mainnet/gen/contract/MezoBridge.go
  ethereum/bindings/portal/sepolia/gen/_address/MezoBridge
Due: go-lint

Add a simple bindings facade
  ethereum/bindings/portal/portal.go
Due: go-lint

Adjust Ethereum sidecar to bindings changes
  ethereum/sidecar/server.go
Due: go-lint

Log MezoBridge address and Ethereum network while starting Ethereum sidecar
  ethereum/sidecar/server.go
Due: go-lint

Checkout MezoBridge addresses
  ethereum/bindings/portal/mainnet/gen/_address/MezoBridge
  ethereum/bindings/portal/sepolia/gen/_address/MezoBridge
Due: none

update mezo-org/go-ethereum to use v1.14.8-mezo2
  go.mod
  go.sum
Due: none

add simple monitoring for the validators versions
  cmd/monitoring/main.go
  go.mod
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

linter fixes on kustomization
  infrastructure/kubernetes/monitoring/kustomization.yaml
Due: none

linter fixes on Docker.monitoring
  Dockerfile.monitoring
Due: none

fix golangci-lint lints reports
  cmd/monitoring/main.go
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

base k8s infrastructure
  Dockerfile.monitoring
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/ingress.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/namespace.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/configmap.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

add latest metrics + logging + move network id in config
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

ignore unnecessary hadolint lint
  Dockerfile.monitoring
Due: none

add step to build the monitoring docker image
  Makefile
Due: none

linter fixes yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

try to disable an option for kubeval
  .github/workflows/super-linter.yml
Due: none

add static IP for monitoring
  infrastructure/terraform/mezo-staging/variables.tf
Due: none

Register v1.0.0-rc1 upgrade handler
  app/upgrades.go
  app/upgrades/v1_0/constants.go
  app/upgrades/v1_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Linting
  app/upgrades/v1_0/constants.go
Due: go-lint

Adjusting docs for upgrade at 12 noon UTC on April 9th.
  docs/upgrades.md
Due: markdown-format

Fix Dockerfile after MezoBridge bindings changes
  Dockerfile
Due: none

Remove seed: boar-test-2
  chain/testnet/mezo_31611-1/seeds.txt
Due: none

ERC20 precompile toolbox
  precompile/erc20/allowance.go
  precompile/erc20/approve.go
  precompile/erc20/balance.go
  precompile/erc20/metadata.go
  precompile/erc20/permit.go
  precompile/erc20/total_supply.go
  precompile/erc20/transfer.go
Due: go-lint

Adjust journal updates in generic ERC20 transfer
  precompile/erc20/transfer.go
Due: go-lint

Replace BTC precompile internals with generic ERC20
  precompile/btctoken/IBTC.sol
  precompile/btctoken/allowance.go
  precompile/btctoken/approve.go
  precompile/btctoken/balance.go
  precompile/btctoken/btctoken.go
  precompile/btctoken/metadata.go
  precompile/btctoken/permit.go
  precompile/btctoken/total_supply.go
  precompile/btctoken/transfer.go
  precompile/erc20/IERC20.sol
  precompile/erc20/IERC20Metadata.sol
  precompile/erc20/IERC20WithPermit.sol
Due: go-lint

Adjust unit tests of the BTC precompile
  precompile/btctoken/approve_test.go
  precompile/btctoken/transfer_test.go
Due: go-lint

Make `btctoken.PrecompileTestSuite` generic
  precompile/btctoken/allowance_test.go
  precompile/btctoken/approve_test.go
  precompile/btctoken/metadata_test.go
  precompile/btctoken/permit_test.go
  precompile/btctoken/setup_test.go
  precompile/btctoken/total_supply_test.go
  precompile/btctoken/transfer_test.go
Due: go-lint

Extract `btctoken.PrecompileTestSuite` to `erc20/testsuite`
  precompile/btctoken/btctoken_test.go
  precompile/btctoken/setup_test.go
  precompile/erc20/testsuite/allowance.go
  precompile/erc20/testsuite/approve.go
  precompile/erc20/testsuite/metadata.go
  precompile/erc20/testsuite/permit.go
  precompile/erc20/testsuite/testsuite.go
  precompile/erc20/testsuite/total_supply.go
  precompile/erc20/testsuite/transfer.go
Due: go-lint

Add a just-in-case spend limit sort in ERC20 approve
  precompile/erc20/approve.go
Due: go-lint

Additional tests for ERC20 approvals
  precompile/erc20/testsuite/allowance.go
  precompile/erc20/testsuite/approve.go
  precompile/erc20/testsuite/permit.go
Due: go-lint

Cover EVM balance propagation in ERC20 test suite
  precompile/btctoken/btctoken_test.go
  precompile/erc20/testsuite/testsuite.go
  precompile/erc20/testsuite/transfer.go
Due: go-lint

Add missing balanceOf unit test to the ERC20 precompile
  precompile/erc20/testsuite/balance.go
Due: go-lint

Adjust the copy-interfaces.sh to the BTC precompile changes
  precompile/hardhat/copy-interfaces.sh
Due: none

Cosmetic changes to BTC precompile test
  precompile/btctoken/btctoken_test.go
Due: go-lint

Decouple totalSupply ERC20 test from genesis
  precompile/erc20/testsuite/testsuite.go
  precompile/erc20/testsuite/total_supply.go
Due: go-lint

The MEZO token precompile
  app/app.go
  precompile/mezotoken/IMEZO.sol
  precompile/mezotoken/abi.json
  precompile/mezotoken/byte_code.go
  precompile/mezotoken/mezotoken.go
  precompile/mezotoken/mezotoken_test.go
  utils/utils.go
  x/evm/types/key.go
  x/evm/types/precompile.go
Due: go-lint

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
