Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Added connectivity test for AssetsUnlocked endpoint
  bridge-worker/bridge_worker.go
  bridge-worker/config/config.json.SAMPLE
Due: go-lint

Removed unnecessary registration
  bridge-worker/assets_unlocked.go
  bridge-worker/bridge_worker.go
Due: go-lint

Updated sample configuration file
  bridge-worker/config/config.json.SAMPLE
Due: none

Minor correction of logs
  bridge-worker/btc_withdrawal.go
Due: go-lint

Set mainnet block for the v4.0.0 upgrade
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v4.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Added fetching of recipient field from Mezo
  bridge-worker/btc_withdrawal.go
Due: go-lint

Added skipping Bitcoin withdrawals below dust threshold
  bridge-worker/btc_withdrawal.go
Due: go-lint

Removed sorting when enqueuing withdrawals
  bridge-worker/btc_withdrawal.go
Due: go-lint

Updated sample bridge-worker configuration
  bridge-worker/btc_withdrawal.go
  bridge-worker/config/config.json.SAMPLE
Due: go-lint

Protect live wallets from data races
  bridge-worker/btc_withdrawal.go
Due: go-lint

Migrate the bridge worker to Cobra
  bridge-worker/bridge_worker.go
  bridge-worker/config.go
  bridge-worker/config/config.go
  bridge-worker/config/config.json.SAMPLE
  bridge-worker/start.go
  cmd/bridge-worker/flags.go
  cmd/bridge-worker/main.go
  go.mod
Due: go-lint

Dockerfile for the bridge worker
  Dockerfile.bridge-worker
  Makefile
Due: none

Kube deployment for the bridge worker
  infrastructure/kubernetes/common/bridge-worker/README.md
  infrastructure/kubernetes/common/bridge-worker/deployment.yaml
  infrastructure/kubernetes/common/bridge-worker/kustomization.yaml
  infrastructure/kubernetes/mezo-production/bridge-worker/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/bridge-worker/kustomization.yaml
Due: markdown-format

Enable json log format for the bridge worker
  bridge-worker/config.go
  bridge-worker/start.go
  cmd/bridge-worker/flags.go
  cmd/bridge-worker/main.go
  infrastructure/kubernetes/common/bridge-worker/deployment.yaml
Due: go-lint

Function rename
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Make BTC withdrawal queue check frequency configurable
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  bridge-worker/config.go
  cmd/bridge-worker/flags.go
  cmd/bridge-worker/main.go
  infrastructure/kubernetes/common/bridge-worker/deployment.yaml
Due: go-lint

Used built-in min function
  bridge-worker/btc_withdrawal.go
Due: go-lint

Modified log
  bridge-worker/btc_withdrawal.go
Due: go-lint

Set specific image for bridge worker
  infrastructure/kubernetes/common/bridge-worker/deployment.yaml
Due: none

Fix readme typo
  infrastructure/kubernetes/common/bridge-worker/README.md
Due: markdown-format

Used periodic event processes rather then relying on new blocks
  bridge-worker/btc_withdrawal.go
Due: go-lint

Monitor balance of bridge worker and reimbursement pool
  infrastructure/kubernetes/common/monitoring/balance-exporter/deployment.yaml
  infrastructure/kubernetes/common/monitoring/balance-exporter/service.yaml
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/accounts.json
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/accounts.json
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Add PCV debt = 0 alert and dashboard
  infrastructure/kubernetes/common/monitoring/balance-exporter/deployment.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/pcv-rebalancing.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Improved naming consistency
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Renamed file
  bridge-worker/assets_unlocked_endpoint.go
Due: go-lint

Added information about porting the package
  bridge-worker/bitcoin/bitcoin.go
Due: go-lint

Added caching redemption dust threshold on program start
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Configurable addresses cap in the filter query for logs calls
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: go-lint

Improve logging around pending bridge requests
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Monitor bridge vals balances on Ethereum
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Bump docker image in metrics scraper manifest
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Add grafana dashboards for bridge validators
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/bridge.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/bridge.json
Due: none

Add PCV debt = 0 alert and dashboard to production
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/pcv-rebalancing.json
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
Due: none

Added generic event batch fetching
  bridge-worker/btc_withdrawal.go
  bridge-worker/utils/fetch.go
Due: go-lint

add bridge worker client
  bridge-worker/client/client.go
  ethereum/sidecar/batch_attestation.go
  ethereum/sidecar/batch_attestation_test.go
  ethereum/sidecar/mock_bridge_worker_test.go
  ethereum/sidecar/server.go
Due: go-lint

golang-ci lint
  bridge-worker/client/client.go
  bridge-worker/server.go
  ethereum/sidecar/server.go
Due: go-lint

add base endpoint to submit signature
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/types/types.go
Due: go-lint

use x/bridge types
  bridge-worker/client/client.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/types/types.go
  ethereum/sidecar/batch_attestation.go
  ethereum/sidecar/batch_attestation_test.go
  ethereum/sidecar/mock_bridge_worker_test.go
  ethereum/sidecar/server.go
Due: go-lint
