Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Pre-render simulated block envelope at construction time
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/types/rpc_marshal_block.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_test.go
Due: go-lint, markdown-format

Type simulated tx envelopes per request shape
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
Due: go-lint, markdown-format

Refresh eth_simulateV1 plan for the Cancun close-out
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  .claude/MEZO-4227-eth-simulate-v1/research.md
  .claude/MEZO-4336-eth-simulate-v1-geth116/plan.md
Due: markdown-format

Consolidate eth_simulateV1 system tests into two suites
  tests/system/test/SimulateV1_BlockEnvelope.test.ts
  tests/system/test/SimulateV1_FullTx.test.ts
  tests/system/test/SimulateV1_Limits.test.ts
  tests/system/test/SimulateV1_MezoDivergence.test.ts
  tests/system/test/SimulateV1_MovePrecompile_ethCall.test.ts
  tests/system/test/SimulateV1_MultiBlock.test.ts
  tests/system/test/SimulateV1_MultiCall.test.ts
  tests/system/test/SimulateV1_RejectedOverrides.test.ts
  tests/system/test/SimulateV1_SingleCall.test.ts
  tests/system/test/SimulateV1_SpecCompliance.test.ts
  tests/system/test/SimulateV1_TraceTransfers.test.ts
  tests/system/test/SimulateV1_Validation.test.ts
Due: none

Consolidate eth_simulateV1 keeper tests around the new layered split
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1_logtracer_test.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Document eth_simulateV1 surface and Mezo divergences
  docs/evm-compatibility.md
  docs/spec/eth-simulate-v1.md
Due: markdown-format

Tighten the eth_simulateV1 spec doc
  docs/spec/eth-simulate-v1.md
Due: markdown-format

Make eth_simulateV1 doc curl examples runnable end-to-end
  docs/evm-compatibility.md
  docs/spec/eth-simulate-v1.md
Due: markdown-format

Stabilize chain-state-sensitive eth_simulateV1 fixtures
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Tidy SimulateV1 test scenario docblocks
  tests/system/test/SimulateV1_MezoDivergence.test.ts
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Stamp simulated log block number from sealed header
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
Due: go-lint

Localize per-test setup in SimulateV1 system suites
  tests/system/test/SimulateV1_MezoDivergence.test.ts
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Pin log.blockNumber/blockHash from simulated header at the RPC surface
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Lighten btctoken state-chain cases in SimulateV1_MezoDivergence
  tests/system/test/SimulateV1_MezoDivergence.test.ts
Due: none

Refresh SimulateV1_SpecCompliance anchors per test, not per file
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Bump testnet validators and mainnet RPC to v9.1.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Fix lint failures surfaced by the merge
  .github/actionlint.yaml
  x/evm/types/simulate_v1.go
Due: go-lint

Skip GitHub Actions linting in super-linter
  .github/actionlint.yaml
  .github/workflows/super-linter.yml
Due: none

Add EIP-7702 set-code spec and roadmap
  .claude/MEZO-4013-eip7702-set-code/plan.md
  .claude/MEZO-4013-eip7702-set-code/research.md
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
  .claude/MEZO-4013-eip7702-set-code/spec.md
Due: markdown-format

Move 7702 storage-retention note out of divergences
  .claude/MEZO-4013-eip7702-set-code/spec.md
Due: markdown-format

Extend ChainConfig with post-Cancun fork-time fields
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/evm.pb.go
Due: go-lint, markdown-format

Disable PragueTime in setup_test London-fork-off cases
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
  app/ante/utils/setup_test.go
  x/evm/keeper/setup_test.go
Due: go-lint

Compare V4-only fork fields in v4 migration test
  x/evm/migrations/v4/migrate_test.go
Due: go-lint

Validate time-based fork fields with sibling validateTime
  x/evm/types/chain_config.go
Due: go-lint

Authenticate buf-setup-action in Protobuf lint workflow
  .github/workflows/proto.yml
Due: none

Update AccessEvents() method
  x/evm/keeper/state_transition_test.go
  x/evm/statedb/statedb.go
Due: go-lint

Implement Finalise() method
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition_test.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Refactor ChainConfig validation tests with baseline mutator
  x/evm/types/chain_config_test.go
Due: go-lint

Add EIP-7702 SetCodeTx Cosmos TxData and pre-Prague ante gate
  app/ante/evm/setup_ctx.go
  proto/ethermint/evm/v1/tx.proto
  x/evm/types/codec.go
  x/evm/types/codec_test.go
  x/evm/types/errors.go
  x/evm/types/set_code_authorization.go
  x/evm/types/set_code_authorization_test.go
  x/evm/types/set_code_tx.go
  x/evm/types/set_code_tx_test.go
  x/evm/types/simulate_v1.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
  x/evm/types/tx_data_test.go
Due: go-lint

Update EIP-7702 roadmap stale references
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
Due: markdown-format

Cover pre-Prague SetCodeTx ante rejection
  app/ante/evm/ante_test.go
Due: go-lint

Update GetStateAndCommittedState() method
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Improve unit test coverage
  x/evm/statedb/statedb_test.go
Due: go-lint

Improve Finalise() method
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Add explanatory comment
  x/evm/statedb/statedb.go
Due: go-lint

Fix linter error
  x/evm/statedb/statedb_test.go
Due: go-lint

Align SetCodeTx stateless validation with EIP-7702
  x/evm/types/set_code_tx.go
  x/evm/types/set_code_tx_test.go
Due: go-lint

Enforce BTC supply invariant on EVM tx commit
  app/app.go
  x/bridge/keeper/abci.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/errors.go
Due: go-lint
