Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

add simple monitoring for the validators versions
  cmd/monitoring/main.go
  go.mod
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

add latest metrics + logging + move network id in config
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

fix golangci-lint lints reports
  cmd/monitoring/main.go
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

linter fixes on kustomization
  infrastructure/kubernetes/monitoring/kustomization.yaml
Due: none

base k8s infrastructure
  Dockerfile.monitoring
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/ingress.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/namespace.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/configmap.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

linter fixes on Docker.monitoring
  Dockerfile.monitoring
Due: none

ignore unnecessary hadolint lint
  Dockerfile.monitoring
Due: none

try to disable an option for kubeval
  .github/workflows/super-linter.yml
Due: none

add step to build the monitoring docker image
  Makefile
Due: none

linter fixes yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

add secrets to grafana deployement
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Due: markdown-format

rename monitoring to metrics-scraper
  Dockerfile.metrics-scraper
  Makefile
  cmd/metrics-scraper/main.go
  go.sum
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  metrics-scraper/config.go
  metrics-scraper/config.json
  metrics-scraper/monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

update metrics name + add up gauge
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

run yamllint
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

rename network -> chain_id
  metrics-scraper/config.go
  metrics-scraper/config.json
  metrics-scraper/monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

split kustomize base and overlays in separate folders
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/base/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/base/grafana/pvc.yaml
  infrastructure/kubernetes/monitoring/base/grafana/service.yaml
  infrastructure/kubernetes/monitoring/base/kustomization.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/service.yaml
  infrastructure/kubernetes/monitoring/base/namespace.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/pvc.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/production/grafana/deployement-patch.yaml
  infrastructure/kubernetes/monitoring/production/ingress.yaml
  infrastructure/kubernetes/monitoring/production/kustomization.yaml
  infrastructure/kubernetes/monitoring/production/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/monitoring/staging/grafana/deployement-patch.yaml
  infrastructure/kubernetes/monitoring/staging/ingress.yaml
  infrastructure/kubernetes/monitoring/staging/kustomization.yaml
  infrastructure/kubernetes/monitoring/staging/metrics-scraper/service-patch.yaml
  infrastructure/terraform/mezo-staging/ssl_certificates.tf
  infrastructure/terraform/mezo-staging/variables.tf
Due: markdown-format

run yamllint
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
Due: none

rename persistent-volume-claim to pvc
  infrastructure/kubernetes/monitoring/grafana/pvc.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/pvc.yaml
Due: none

attach the monitoring IP to the metrics-scraper service
  infrastructure/kubernetes/monitoring/metrics-scraper/service.yaml
Due: none

move monitoring base under kubernetes/common and production / staging related overlay under the relevant folders
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/grafana/pvc.yaml
  infrastructure/kubernetes/common/monitoring/grafana/service.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/service.yaml
  infrastructure/kubernetes/common/monitoring/namespace.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/pvc.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-production/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/monitoring/README.md
Due: markdown-format

add some initial documentation for mezo-staging monitoring
  infrastructure/kubernetes/mezo-staging/monitoring/README.md
Due: markdown-format

More configuration
  Dockerfile.metrics-scraper
  infrastructure/kubernetes/common/monitoring/grafana/config/dashboards.yaml
  infrastructure/kubernetes/common/monitoring/grafana/config/datasources.yaml
  infrastructure/kubernetes/common/monitoring/grafana/config/grafana.ini
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/config/config.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/config/config.json
Due: none

fix linter issues
  infrastructure/kubernetes/common/monitoring/grafana/config/dashboards.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
Due: none

remove unused comet_url in metrics scraper config
  metrics-scraper/config.go
Due: go-lint

Added limit for the number of predecessors during transaction tracing
  x/evm/keeper/grpc_query.go
Due: go-lint

address PR review
  infrastructure/kubernetes/common/README.md
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-production/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/config/config.json
  infrastructure/kubernetes/mezo-staging/monitoring/README.md
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/config/config.json
  infrastructure/terraform/mezo-production/load-secrets.sh
  infrastructure/terraform/mezo-production/ssl-certificates/mezo-production-monitoring-hub.crt.tpl
  infrastructure/terraform/mezo-production/ssl-certificates/mezo-production-monitoring-hub.key.tpl
  infrastructure/terraform/mezo-production/ssl_certificates.tf
  infrastructure/terraform/mezo-staging/load-secrets.sh
  infrastructure/terraform/mezo-staging/ssl-certificates/mezo-staging-monitoring-hub.crt.tpl
  infrastructure/terraform/mezo-staging/ssl-certificates/mezo-staging-monitoring-hub.key.tpl
Due: markdown-format

grammar pass on README
  infrastructure/kubernetes/common/README.md
Due: markdown-format

remove unused deployment patch
  infrastructure/kubernetes/mezo-production/monitoring/grafana/deployement-patch.yaml
Due: none

remove remaining config file
  metrics-scraper/config.json
Due: none

address PR comments
  go.sum
  infrastructure/kubernetes/common/monitoring/README.md
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
Due: markdown-format

add comment about allowlisting the static IP on node operator infra
  infrastructure/kubernetes/common/monitoring/README.md
Due: markdown-format

addressed PR comments
  Makefile
  infrastructure/terraform/mezo-staging/ssl-certificates/mezo-staging-monitoring-hub.key.tpl
Due: none

add default backend service for the ingress
  infrastructure/kubernetes/mezo-production/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/ingress.yaml
Due: none

add instructions to create the monitoring namespace
  infrastructure/kubernetes/common/monitoring/README.md
Due: markdown-format

format check JSON example in the monitoring README
  infrastructure/kubernetes/common/monitoring/README.md
Due: markdown-format

Add security context and probes for grafana and prom
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/deployment.yaml
Due: none

Added timeouts for processing predecessors
  x/evm/keeper/grpc_query.go
Due: go-lint

Tweaks to share monitoring dashboards publicly
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-production/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

cmd: poa: Fix getConsensusPublicKey()
  cmd/mezod/poa/submitapplication.go
Due: go-lint

Tweak to monitoring dashboards
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-nodes-public.json
Due: none

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
