Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Add v10.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v10_0/constants.go
  app/upgrades/v10_0/upgrades.go
Due: go-lint

Bump testnet nodes to v10.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Add v10.0.0 upgrade blocks to historical table
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v10.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Bump testnet node image tags from v10.0.0-rc0 to v10.0.0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Remove image and tag overrides from testnet node values
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Add unit tests for BTC supply invariant check
  x/bridge/keeper/abci_test.go
  x/evm/keeper/state_transition_test.go
Due: go-lint

Document SetCodeTx.AsEthereumData nil-handling contract
  x/evm/types/set_code_tx.go
Due: go-lint

Reference PR #674 from EIP-7702 roadmap progress
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
Due: markdown-format

Make Finalise a no-op and add ResetTxEphemerals
  x/evm/keeper/simulate_v1.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Fix linter
  x/evm/statedb/statedb_test.go
Due: go-lint

Improved unit tests
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Handle SetCodeTx type URL in MsgEthereumTx signer resolution
  x/evm/types/msg.go
Due: go-lint

Expose authorization list on TxData interface
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/set_code_tx_test.go
  x/evm/types/tx_data.go
Due: go-lint

Thread EIP-7702 authorization list through TransactionArgs
  x/evm/keeper/grpc_query.go
  x/evm/types/tx_args.go
Due: go-lint

Apply EIP-7702 authorizations in EVM state transition
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
  .claude/MEZO-4013-eip7702-set-code/spec.md
  x/evm/keeper/export_test.go
  x/evm/keeper/fees.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/set_code_authorization.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_setcode_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
Due: go-lint, markdown-format

Move EIP-7702 auth-loop unit tests into package keeper
  x/evm/keeper/export_test.go
  x/evm/keeper/set_code_authorization_test.go
  x/evm/keeper/state_transition_setcode_test.go
Due: go-lint

Zero-init SetCodeAuthorizations and SkipNonceChecks in ExecuteContractCall message
  x/evm/keeper/call.go
  x/evm/keeper/set_code_authorization_test.go
  x/evm/keeper/state_transition.go
Due: go-lint

Reject EIP-7702 authorizations targeting precompiles
  .claude/MEZO-4013-eip7702-set-code/spec.md
  x/evm/keeper/set_code_authorization.go
  x/evm/keeper/set_code_authorization_test.go
  x/evm/keeper/state_transition.go
Due: go-lint, markdown-format

Exempt EIP-7702 delegated EOAs from the EIP-3607 sender check
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
Due: go-lint, markdown-format

Decreasing frequency of price updates
  infrastructure/kubernetes/common/pyth-scheduler-ethereum/configmap.yaml
  infrastructure/kubernetes/common/pyth-scheduler-mezo/configmap.yaml
Due: none

Reject EIP-7702 messages carrying a non-nil empty auth list
  x/evm/keeper/call.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_setcode_test.go
Due: go-lint

Add AuthorizationList to TransactionArgs and route SetCodeTx in ToTransaction
  x/evm/types/tx_args.go
  x/evm/types/tx_args_test.go
Due: go-lint

Surface SetCodeTx and authorizationList through NewRPCTransaction
  rpc/types/types.go
  rpc/types/utils.go
  rpc/types/utils_test.go
Due: go-lint

Emit effectiveGasPrice on receipts for any tx type >= DynamicFeeTxType
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
Due: go-lint

Add Eip7702SendRawTx Hardhat system test
  tests/system/test/Eip7702SendRawTx.test.ts
Due: none

Forward AuthorizationList through SetTxDefaults into EstimateGas
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
Due: go-lint

Gate applySetCodeAuthorizations on rules.IsPrague
  x/evm/keeper/state_transition.go
Due: go-lint

Mark JSON-RPC surface done in the EIP-7702 roadmap
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
Due: markdown-format

Abort trace queries on state-transition failure
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Hoist EIP-7702 Prague gate into applyMessageWithConfig prologue
  x/evm/keeper/state_transition.go
Due: go-lint

Mirror upstream geth's usedType prologue in TransactionArgs.ToTransaction
  x/evm/types/tx_args.go
Due: go-lint

Tighten consensus/non-consensus wording in applyMessageWithConfig comments
  x/evm/keeper/state_transition.go
Due: go-lint

Add per-validator bridge-out attestation count metric
  ethereum/bindings/portal/portal.go
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Bump metrics-scraper image hash
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
Due: none

Add EIP-7702 Hardhat fixtures, helpers, and ethers 6.16 bump
  tests/system/contracts/Eip7702Caller.sol
  tests/system/contracts/Eip7702ExtCodeReader.sol
  tests/system/contracts/Eip7702TargetV1.sol
  tests/system/contracts/Eip7702TargetV2.sol
  tests/system/deploy/12_deploy_eip7702_fixtures.ts
  tests/system/package-lock.json
  tests/system/package.json
  tests/system/test/helpers/eip7702.ts
Due: none

Replace Eip7702SendRawTx smoketest with Eip7702_SpecCompliance suite
  tests/system/test/Eip7702SendRawTx.test.ts
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Add Eip7702_MezoDivergence tripwire suite
  tests/system/test/Eip7702_MezoDivergence.test.ts
Due: none

Fuzz SetCodeTx proto unmarshal/validate surface
  x/evm/types/set_code_tx_fuzz_test.go
Due: go-lint
