Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Updated unit tests
  tests/integration/ledger/ledger_test.go
Due: go-lint

Updated CometBFT library to v0.38.21
  go.mod
  go.sum
Due: none

Bump testnet nodes to v6.0.0-rc1
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Add Mezosphere assets to the Pyth scheduler
  infrastructure/kubernetes/common/pyth-scheduler-mezo/configmap.yaml
Due: none

Adding USDT/USD price feed
  infrastructure/kubernetes/common/pyth-scheduler-ethereum/configmap.yaml
Due: none

Document v6.0.0 mainnet upgrade block
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v6.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Made mERC20 token compatible with EIP712
  solidity/contracts/mERC20.sol
  solidity/test/mTestERC20.test.ts
Due: none

Add safety checks for mERC20 tokens upgrade
  solidity/hardhat.config.ts
  solidity/test/upgrades/mERC20.upgrades.test.ts
Due: none

Added reinitilizer function
  solidity/contracts/mERC20.sol
Due: none

Added redeployment script for mERC20 tokens
  solidity/deploy/100_upgrade_bridgeable_tokens.ts
  solidity/test/upgrades/mERC20.upgrades.test.ts
Due: none

Used hardhat network for upgrade tests
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/upgrades/mERC20.upgrades.test.ts
Due: none

Fixed failing unit tests
  solidity/test/mTestERC20.test.ts
Due: none

Updated upgrade script
  solidity/deploy/15_upgrade_bridgeable_tokens.ts
Due: none

Added call to `initilizeV2` to deployment script
  solidity/deploy/15_upgrade_bridgeable_tokens.ts
Due: none

Added full upgrade test
  solidity/test/upgrades/mERC20.upgrades.test.ts
Due: none

Renamed upgrade script
  solidity/deploy/15_upgrade_m_tokens.ts
Due: none

Added explanatory information to upgrade script
  solidity/deploy/15_upgrade_m_tokens.ts
Due: none

Updated mERC20 token deployment functionality
  solidity/helpers/deploy-helpers.ts
Due: none

Fixed typo
  solidity/deploy/15_upgrade_m_tokens.ts
Due: none

Filter Cosmos-level failed transactions from debug trace RPCs
  rpc/backend/client_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
Due: go-lint

Bump private mainnet RPC to v6.0.1
  infrastructure/kubernetes/mezo-production/helmfile.yaml
Due: none

Upgrade mToken implementations on testnet
  solidity/.openzeppelin/unknown-31611.json
  solidity/deployments/testnet/mDAI.json
  solidity/deployments/testnet/mFBTC.json
  solidity/deployments/testnet/mSolvBTC.json
  solidity/deployments/testnet/mT.json
  solidity/deployments/testnet/mUSDC.json
  solidity/deployments/testnet/mUSDT.json
  solidity/deployments/testnet/mUSDe.json
  solidity/deployments/testnet/mcbBTC.json
  solidity/deployments/testnet/mswBTC.json
  solidity/deployments/testnet/mxSolvBTC.json
Due: none

Improve mToken upgrade deploy script
  solidity/deploy/15_upgrade_m_tokens.ts
Due: none

Fix etherscan API key config to support per-network keys
  solidity/hardhat.config.ts
Due: none

Upgrade mToken implementations on mainnet
  solidity/.openzeppelin/unknown-31612.json
  solidity/deployments/mainnet/mDAI.json
  solidity/deployments/mainnet/mFBTC.json
  solidity/deployments/mainnet/mSolvBTC.json
  solidity/deployments/mainnet/mT.json
  solidity/deployments/mainnet/mUSDC.json
  solidity/deployments/mainnet/mUSDT.json
  solidity/deployments/mainnet/mUSDe.json
  solidity/deployments/mainnet/mcbBTC.json
  solidity/deployments/mainnet/mswBTC.json
  solidity/deployments/mainnet/mxSolvBTC.json
Due: none

Reject unsupported EVM transaction types in NewTxDataFromTx
  x/evm/types/errors.go
  x/evm/types/tx_data.go
  x/evm/types/tx_data_test.go
Due: go-lint

Set BlobBaseFee to 1 in EVM block context
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
Due: go-lint

Add EIP-4844 blob gas fields to RPC block responses
  rpc/types/utils.go
Due: go-lint

Fix gofumpt alignment in errors and RPC utils
  rpc/types/utils.go
  x/evm/types/errors.go
Due: go-lint

Enabled Paris (the Merge) fork
  x/evm/keeper/state_transition.go
Due: go-lint

Revert EIP-4844 blob gas fields from RPC block responses
  rpc/types/utils.go
Due: go-lint

Set BlobBaseFee to 0 in EVM block context
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
Due: go-lint

Updated EVM compatibility doc with post-London forks info
  docs/evm-compatibility.md
Due: markdown-format

Updated EVM compatibility doc
  docs/evm-compatibility.md
Due: markdown-format

Simplified the condition for enabling the Merge fork
  x/evm/keeper/state_transition.go
Due: go-lint

Rearranged sections in EVM compatibility document
  docs/evm-compatibility.md
Due: markdown-format

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
