Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Updating BTCCaller.sol and MEZOCaller.sol along with their byte_code.go
  precompile/btctoken/byte_code.go
  precompile/hardhat/contracts/BTCCaller.sol
  precompile/hardhat/contracts/MEZOCaller.sol
  precompile/mezotoken/byte_code.go
Due: go-lint

Fixing byte_code for mezo token
  precompile/mezotoken/byte_code.go
Due: go-lint

Clarified usage of transaction indexes inside RPC command
  rpc/backend/tx_info.go
Due: go-lint

Improving subscribing to events
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
Due: go-lint

Fixing tests to fail consistently
  rpc/ethereum/pubsub/pubsub_test.go
Due: go-lint

Add a minimal charge for all precompile call even if unpack method id and arguments fails
  precompile/contract.go
  tests/system/test/BTCTransfers.test.ts
Due: go-lint

Integrate WalletConnect with the block explorer
  infrastructure/kubernetes/mezo-production/README.md
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
  infrastructure/kubernetes/mezo-staging/README.md
  infrastructure/kubernetes/mezo-staging/values/blockscout-stack.yaml
Due: markdown-format

Change public RPC served by mainnet BlockScout
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
Due: none

add panics when converting AsTransaction as the transaction should always be valid
  x/evm/types/msg.go
Due: go-lint

Simplified code
  x/evm/keeper/statedb.go
Due: go-lint

add a gcp bucket via terraform to store coins logos for the explorer
  infrastructure/terraform/mezo-production/gke.tf
Due: none

Move the explorer bucket under gcs.tf
  infrastructure/terraform/mezo-production/gcs.tf
  infrastructure/terraform/mezo-production/gke.tf
Due: none

Fix signature r + s values concatenation in permit
  precompile/erc20/permit.go
  precompile/erc20/testsuite/permit.go
Due: go-lint

Deploy a private mainnet RPC node
  infrastructure/kubernetes/mezo-production/README.md
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-production/mezo-rpc-node-service.yaml
  infrastructure/kubernetes/mezo-production/values/mezo-rpc-node.yaml
  infrastructure/terraform/mezo-production/variables.tf
Due: markdown-format

Fix a race in the ethereum pubsub topic creation
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Due: go-lint

Fix linter errors
  .github/workflows/super-linter.yml
  infrastructure/kubernetes/mezo-production/helmfile.yaml
Due: none

update golangci-lint action to 6.5.1 and golanci-lint to 1.64.8
  .github/workflows/lint.yml
  .golangci.yml
Due: none

Fix handling of the safe paramter in the RPC
  rpc/types/block.go
Due: go-lint

only pack the mezod binary in the release archive
  .github/workflows/binary.yml
Due: none

The v2.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v2_0/constants.go
  app/upgrades/v2_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Document the release process
  docs/release-process.md
Due: markdown-format

add google auth login to the monitoring
  infrastructure/kubernetes/common/monitoring/README.md
  infrastructure/kubernetes/common/monitoring/grafana/config/grafana.ini
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
Due: markdown-format

address PR comments
  infrastructure/kubernetes/common/monitoring/README.md
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
Due: markdown-format

Add candidate vs stable release recommendation
  docs/release-process.md
Due: markdown-format

add back readme section to setup oauth login in gcp
  infrastructure/kubernetes/common/monitoring/README.md
Due: markdown-format

Fix monitoring README
  infrastructure/kubernetes/common/monitoring/README.md
Due: markdown-format

Used keep-common from mezo-org
  go.mod
  go.sum
Due: none

Bump private mainnet RPC node to v2.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
Due: none

Used version `1.8.0` of mezo-org/keep-common
  go.mod
  go.sum
Due: none

prevent goroutine leaks in rpc/websocket Properly clear the Subscription by using Unsubscribe (rpc)
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/websockets.go
Due: go-lint

Collect metrics from the Portal API
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Collect metrics from the Portal dApp
  infrastructure/kubernetes/common/monitoring/blackbox-exporter/configmap.yaml
  infrastructure/kubernetes/common/monitoring/blackbox-exporter/deployment.yaml
  infrastructure/kubernetes/common/monitoring/blackbox-exporter/service.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Add Grafana dashboard for Portal API and dApp metrics
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-portal.json
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-portal.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

Add --project flag to gcloud get-credentials command
  infrastructure/kubernetes/README.md
Due: markdown-format

prevent goroutine leaks in rpc/websocket Properly clear the Subscription by using Unsubscribe (rpc) ensure the rpc.ID is properly used in streamed events
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/websockets.go
Due: go-lint

Switch to `mezo-org/keep-common` in Ethereum sidecar
  go.mod
  go.sum
Due: none

Added unit tests for fetching `AssetsLocked` events
  ethereum/bindings/portal/portal.go
  ethereum/sidecar/chain/chain.go
  ethereum/sidecar/chain/ethereum/ethereum.go
  ethereum/sidecar/chain/local/local.go
  ethereum/sidecar/server.go
  ethereum/sidecar/server_test.go
Due: go-lint

Gather metrics for account balances
  infrastructure/kubernetes/common/monitoring/balance-exporter/deployment.yaml
  infrastructure/kubernetes/common/monitoring/balance-exporter/service.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/balance-exporter/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none
