Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Added unit tests for PREVRANDAO
  x/evm/keeper/state_transition_test.go
Due: go-lint

Added system test for PREVRANDAO
  tests/system/contracts/RandaoCheck.sol
  tests/system/deploy/04_deploy_randao_check.ts
  tests/system/test/RandaoCheck.test.ts
Due: none

Update Linear release checklist template link
  docs/release-process.md
Due: markdown-format

Increased timeout in system tests
  tests/system/hardhat.config.ts
Due: none

Added tests for EIPs post-London
  tests/system/contracts/InitcodeLimitCheck.sol
  tests/system/contracts/McopyCheck.sol
  tests/system/contracts/Push0Check.sol
  tests/system/contracts/Selfdestruct6780Check.sol
  tests/system/contracts/TransientStorageCheck.sol
  tests/system/deploy/05_deploy_push0_check.ts
  tests/system/deploy/06_deploy_transient_storage_check.ts
  tests/system/deploy/07_deploy_mcopy_check.ts
  tests/system/deploy/08_deploy_selfdestruct_6780_check.ts
  tests/system/deploy/09_deploy_initcode_limit_check.ts
  tests/system/hardhat.config.ts
  tests/system/test/AssetsBridge.test.ts
  tests/system/test/BTCTransfers.test.ts
  tests/system/test/InitcodeLimitCheck.test.ts
  tests/system/test/MEZOTransfers.test.ts
  tests/system/test/McopyCheck.test.ts
  tests/system/test/Push0Check.test.ts
  tests/system/test/RandaoCheck.test.ts
  tests/system/test/Selfdestruct6780Check.test.ts
  tests/system/test/TransientStorageCheck.test.ts
  tests/system/test/helpers/contract.ts
  tests/system/test/helpers/opcodes.ts
  x/evm/statedb/statedb_test.go
Due: go-lint

v7.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v7_0/constants.go
  app/upgrades/v7_0/upgrades.go
Due: go-lint

Added additional testcase for EIP-6780
  tests/system/test/Selfdestruct6780Check.test.ts
Due: none

Removed misleading comments
  tests/system/test/TransientStorageCheck.test.ts
Due: none

Function rename
  tests/system/test/McopyCheck.test.ts
  tests/system/test/Push0Check.test.ts
  tests/system/test/helpers/opcodes.ts
Due: none

Expand EIP-3860 coverage with CREATE2 tests
  tests/system/contracts/InitcodeLimitCheck.sol
  tests/system/test/InitcodeLimitCheck.test.ts
Due: none

Renamed testcase
  tests/system/test/InitcodeLimitCheck.test.ts
Due: none

Simplified testcase
  tests/system/test/TransientStorageCheck.test.ts
Due: none

Added additional testcase for EIP-1153
  tests/system/contracts/TransientStorageCheck.sol
  tests/system/deploy/06_deploy_transient_storage_check.ts
  tests/system/test/TransientStorageCheck.test.ts
Due: none

Improved function comments
  tests/system/contracts/TransientStorageCheck.sol
Due: none

Added testcase for EIP-5656
  tests/system/contracts/McopyCheck.sol
  tests/system/test/McopyCheck.test.ts
Due: none

Fixed function comments
  tests/system/contracts/McopyCheck.sol
Due: none

Added additional testcase for EIP-5656
  tests/system/contracts/McopyCheck.sol
  tests/system/test/McopyCheck.test.ts
Due: none

Added additional checks in system test
  tests/system/test/Selfdestruct6780Check.test.ts
Due: none

Used single version of Solidity
  tests/system/contracts/InitcodeLimitCheck.sol
  tests/system/contracts/McopyCheck.sol
  tests/system/contracts/Selfdestruct6780Check.sol
  tests/system/contracts/TransientStorageCheck.sol
Due: none

Added specific revert messages checks
  tests/system/test/InitcodeLimitCheck.test.ts
Due: none

Tighten test requirements for EIP-3855
  tests/system/contracts/Push0Check.sol
  tests/system/test/Push0Check.test.ts
Due: none

Added testcases for `delegatecall` and `callcode`
  tests/system/contracts/TransientStorageCheck.sol
  tests/system/test/TransientStorageCheck.test.ts
Due: none

Add v7.0.0 testnet upgrade block
  docs/upgrades.md
Due: markdown-format

Bump testnet nodes to v7.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Include v7.0.0 mainnet upgrade info in the docs
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v7.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Fix staging Earn Bot metrics domain to earn-bot.testnet.mezo.org
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Add Earn Bot metrics scraping to staging Prometheus
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Add Earn Bot Grafana dashboards for production and staging
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/earn-bot.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/earn-bot.json
Due: none

Add Earn Bot metrics scraping to production Prometheus
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
Due: none

Add EIP-7702 research and implementation plan
  .claude/plans/lukasz-zimnoch/eip-7702-research.md
  .claude/plans/lukasz-zimnoch/plan-eip-7702-implementation.md
Due: markdown-format

RFC-6: Triparty BTC minting
  docs/rfc/rfc-6.md
Due: markdown-format

Add triparty bridge state keys and keeper methods
  x/bridge/keeper/triparty.go
  x/bridge/types/keys.go
Due: go-lint

Add triparty bridge precompile methods
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/byte_code.go
  precompile/assetsbridge/triparty.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
  x/evm/types/precompile.go
Due: go-lint

Add triparty precompile tests and Hardhat tasks
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty_test.go
  precompile/hardhat/tasks/assetsbridge.ts
Due: go-lint

Fix linting errors
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Add v8.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v8_0/constants.go
  app/upgrades/v8_0/upgrades.go
Due: go-lint
