Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Cover SetCodeTx in the custom KV indexer test suite
  indexer/kv_indexer_test.go
Due: go-lint

Update EIP-7702 spec and roadmap for consolidated test layout
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
  .claude/MEZO-4013-eip7702-set-code/spec.md
Due: markdown-format

Drop omitempty from TransactionArgs.AuthorizationList JSON tag
  x/evm/types/tx_args.go
  x/evm/types/tx_args_test.go
Due: go-lint

Pin absolute CallNewAccountGas charge per fresh authorization tuple
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Pin cold-vs-warm CALL gas into a delegated EOA (EIP-2929)
  tests/system/contracts/Eip7702Caller.sol
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Record Phase 6 progress in the EIP-7702 roadmap
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
Due: markdown-format

Add scenario summary tables to EIP-7702 system tests
  tests/system/test/Eip7702_MezoDivergence.test.ts
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Correct the TestBed-exclusion comment in the EIP-7702 divergence test
  tests/system/test/Eip7702_MezoDivergence.test.ts
Due: none

Tighten scenario tables in EIP-7702 system tests
  tests/system/test/Eip7702_MezoDivergence.test.ts
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Make tickV2 a load-bearing rotation discriminator
  tests/system/contracts/Eip7702TargetV2.sol
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Drop redundant tick() bodies from EIP-7702 install tests
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Pin EIP-7702 install via eth_getCode in cold/warm CALL test
  tests/system/test/Eip7702_SpecCompliance.test.ts
Due: none

Add v11.0.0 planned upgrade that activates Prague on live chains
  app/upgrades.go
  app/upgrades/v11_0/constants.go
  app/upgrades/v11_0/export_test.go
  app/upgrades/v11_0/upgrades.go
  app/upgrades/v11_0/upgrades_test.go
  docs/upgrades.md
Due: go-lint, markdown-format

Move EIP-7702 set-code spec into docs/spec/
  .claude/MEZO-4013-eip7702-set-code/roadmap.md
  docs/spec/eip7702-set-code.md
Due: markdown-format

Document EIP-7702 in docs/evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Drop the v11.0.0 upgrade handler unit test
  app/upgrades/v11_0/export_test.go
  app/upgrades/v11_0/upgrades_test.go
Due: go-lint

Drop the misleading setPragueTime docstring
  app/upgrades/v11_0/upgrades.go
Due: go-lint

Cap vote extension size at 32 KiB in VerifyVoteExtensionHandler
  app/abci/vote_extension.go
  app/abci/vote_extension_test.go
Due: go-lint

System test coverage for EIP-2537 BLS12-381 precompile layout
  tests/system/contracts/Bls12381Check.sol
  tests/system/deploy/13_deploy_bls12381_check.ts
  tests/system/test/Bls12381Check.test.ts
Due: none

Use block timestamp for tracer fork rules
  x/evm/keeper/keeper.go
  x/evm/types/tracer.go
Due: go-lint

Refresh go-ethereum version in storage root safety note
  x/evm/statedb/statedb.go
Due: go-lint

Deprecate StorageRootStrategyDummyHash
  x/evm/statedb/statedb.go
  x/evm/types/storage.go
Due: go-lint

Install tracer hooks on StateDB
  x/evm/keeper/state_transition.go
Due: go-lint

Emit StateDB mutation tracing hooks
  x/evm/statedb/statedb.go
Due: go-lint

Add trace-related unit tests
  x/evm/keeper/grpc_query_test.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Use //nolint directive for deprecated DummyHash strategy
  x/evm/statedb/statedb.go
Due: go-lint

Add tracing for self-destruct
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Update unit tests
  x/evm/types/tracer_test.go
Due: go-lint

Fix access-list tracer exclusions
  x/evm/keeper/keeper.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Due: go-lint

Pin go-ethereum replace to mezo fork with recipient-guard hook
  go.mod
  go.sum
Due: none

Reject value transfers to blocked addresses at the EVM call frame
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
Due: go-lint

Cover the recipient guard at the EVM keeper level
  x/evm/keeper/state_transition_test.go
Due: go-lint

Cover the recipient guard end-to-end via Hardhat
  tests/system/contracts/RecipientGuard.sol
  tests/system/deploy/13_deploy_recipient_guard.ts
  tests/system/test/RecipientGuard.test.ts
Due: none

Swap go-ethereum replace from local path to mezo fork commit
  go.mod
  go.sum
Due: none

Bump go-ethereum replace to v1.16.9-mezo1
  go.mod
  go.sum
Due: none

Renumber recipient-guard deploy script to 14_
  tests/system/deploy/14_deploy_recipient_guard.ts
Due: none

Switch recipient-guard tests to poa as the blocked recipient
  tests/system/test/RecipientGuard.test.ts
  x/evm/keeper/state_transition_test.go
Due: go-lint

Pin inner CALL as the failing site in RecipientGuard tests
  tests/system/test/RecipientGuard.test.ts
Due: none

Strengthen EOA-direct-send assertions in RecipientGuard tests
  tests/system/test/RecipientGuard.test.ts
Due: none

Cover the recipient guard under eth_simulateV1
  tests/system/test/SimulateV1_RecipientGuard.test.ts
Due: none
