Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Move tracing helpers into a separate file
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
  x/evm/statedb/statedb_tracing.go
  x/evm/statedb/statedb_tracing_test.go
Due: go-lint

Mark Osaka EIPs as supported in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Add GetEthFloorDataGas helper for EIP-7623
  x/evm/keeper/gas.go
  x/evm/keeper/state_transition_test.go
Due: go-lint

Drop the geth version tag from evm-compatibility.md fork references
  docs/evm-compatibility.md
Due: markdown-format

Apply EIP-7623 floor in consensus and estimate gas
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
Due: go-lint

Drop conditional Prague/Osaka activation phrasing in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Reject sub-floor txs at CheckTx admission
  app/ante/evm/eth.go
  x/evm/keeper/fees.go
  x/evm/keeper/fees_test.go
Due: go-lint

Surface EIP-7623 floor through eth_simulateV1
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
Due: go-lint

Add FloorDataGasCheck system test
  tests/system/test/FloorDataGasCheck.test.ts
Due: none

Consolidate floor-test helpers
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition_test.go
Due: go-lint

Tighten RefundCappedByFloor assertion to exact floor
  x/evm/keeper/state_transition_test.go
Due: go-lint

Document the always-run-localnode policy for system tests
  CLAUDE.md
Due: markdown-format

Drop redundant uint64 conversion in floor-gas comparison
  x/evm/keeper/simulate_v1_test.go
Due: go-lint

Bump post-Prague forks when pushing PragueTime far future
  x/evm/keeper/state_transition_test.go
Due: go-lint

Drop redundant Prague gates around GetEthFloorDataGas consumers
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition.go
Due: go-lint

Drop the standalone floor-clamp tracer event
  x/evm/keeper/state_transition.go
Due: go-lint

Mark EIP-7623 as supported in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Trim internal implementation detail from Prague and Osaka EIP entries
  docs/evm-compatibility.md
Due: markdown-format

Point Osaka activation at upgrades.md in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Cover CREATE-tx floor enforcement under test
  x/evm/keeper/state_transition_test.go
Due: go-lint

Defer FloorDataGas to apply-time on DeliverTx
  x/evm/keeper/fees.go
Due: go-lint

Document EIP-7623 floor on eth_simulateV1
  docs/spec/eth-simulate-v1.md
Due: markdown-format

Cover caller-supplied sub-floor args.Gas in EstimateGas
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Hoist txData.GetData() in VerifyFee
  x/evm/keeper/fees.go
Due: go-lint

Reword chain-halt phrasing as chain upgrade in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Cover EIP-7623 floor under SimulateV1 divergence
  docs/spec/eth-simulate-v1.md
  tests/system/test/SimulateV1_MezoDivergence.test.ts
Due: markdown-format

Pin the FloorDataGasCheck sub-floor rejection to the floor branch
  tests/system/test/FloorDataGasCheck.test.ts
Due: none

Cover eth_estimateGas under FloorDataGasCheck
  tests/system/test/FloorDataGasCheck.test.ts
Due: none

Pin the EstimateGas no-perturbation baseline under FloorDataGasCheck
  tests/system/test/FloorDataGasCheck.test.ts
Due: none

Correct EIP-2935 BLOCKHASH window description
  docs/evm-compatibility.md
Due: markdown-format

Bump testnet nodes to v11.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Record v11.0.0 testnet upgrade block in upgrades doc
  docs/upgrades.md
Due: markdown-format

Add unit test for transient storage snapshot rollback
  x/evm/statedb/statedb_test.go
Due: go-lint

Add system test for BTC supply invariant
  tests/system/README.md
  tests/system/test/SelfdestructSupplyInvariant.test.ts
Due: markdown-format

Record v11.0.0 mainnet upgrade block in upgrades doc.
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v11.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Remove image and tag overrides from testnet node values
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Removed stale README section for system tests
  tests/system/README.md
Due: markdown-format

Add RFC-7: Mezo bridge intents
  docs/rfc/rfc-7.md
Due: markdown-format

Bump iavl to v1.2.8 for upstream bugfixes
  go.mod
  go.sum
Due: none
