Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

rename *SubmitSignature -> *SubmitAttestation
  bridge-worker/client/client.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/types/types.go
  ethereum/sidecar/batch_attestation.go
  ethereum/sidecar/batch_attestation_test.go
  ethereum/sidecar/mock_bridge_worker_test.go
Due: go-lint

update abiEncodeAttestationWithChainID method
  bridge-worker/server.go
Due: go-lint

pass the bridge worker as a dependency
  ethereum/sidecar/cli/ethereum_sidecar.go
  ethereum/sidecar/server.go
Due: go-lint

move abiEncoding + attestationDigestHash method inside portal package and reuse it from ethereum sidecar and bridge-wroker
  bridge-worker/server.go
  bridge-worker/server_test.go
  ethereum/bindings/portal/portal.go
  ethereum/sidecar/attestation_validator.go
  ethereum/sidecar/attestation_validator_test.go
  ethereum/sidecar/batch_attestation.go
  ethereum/sidecar/batch_attestation_test.go
Due: go-lint

add extra validation against mezo bridge
  bridge-worker/mock_mezo_bridge_test.go
  bridge-worker/server.go
  bridge-worker/server_test.go
Due: go-lint

make writeSuccess and writeError private method of the server
  bridge-worker/server.go
Due: go-lint

improve tests for the recoverAdderss method
  bridge-worker/server_test.go
Due: go-lint

Split bridge worker into jobs
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
Due: go-lint

Added tBTC token to filters when fetching events
  bridge-worker/btc_withdrawal.go
Due: go-lint

add supabase store
  bridge-worker/mock_store_test.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/store.go
  go.mod
  go.sum
Due: go-lint

wire up the server with the bridge worker
  bridge-worker/bridge_worker.go
  bridge-worker/config.go
  bridge-worker/mock_mezo_bridge_test.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  cmd/bridge-worker/flags.go
  cmd/bridge-worker/main.go
Due: go-lint

fix golang-ci lints
  bridge-worker/bridge_worker.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  bridge-worker/store.go
  bridge-worker/types/types.go
Due: go-lint

Use bitnamilegacy repository for PostgreSQL on production
  infrastructure/kubernetes/mezo-production/values/postgresql.yaml
Due: none

Use bitnamilegacy repository for PostgreSQL on staging
  infrastructure/kubernetes/mezo-staging/values/postgresql.yaml
Due: none

Monitor the bank balance of tBTC redeemer
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Update metrics scraper on clusters
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
Due: none

Add tBTC redeemer balance to Grafana dashboards
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/bridge.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/bridge.json
Due: none

Expose metrics from the bridge worker
  bridge-worker/btc_withdrawal.go
  bridge-worker/config.go
  bridge-worker/prometheus.go
  bridge-worker/start.go
  cmd/bridge-worker/flags.go
  cmd/bridge-worker/main.go
Due: go-lint

Expose metrics port from the bridge worker
  infrastructure/kubernetes/common/bridge-worker/deployment.yaml
  infrastructure/kubernetes/common/bridge-worker/service.yaml
Due: none

Add bridge worker monitoring to prometheus
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Add bridge worker service to kustomize
  infrastructure/kubernetes/common/bridge-worker/kustomization.yaml
Due: none

Bump bridge worker on clusters
  infrastructure/kubernetes/common/bridge-worker/deployment.yaml
Due: none

Fix bridge worker dns in prom config
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Bridge worker Grafana dashboards
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/bridge.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/bridge.json
Due: none

add missing state to the ExportGenesis and InitGenesis of the x/bridge
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/assets_unlocked_test.go
  x/bridge/keeper/genesis.go
  x/bridge/types/erc20.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
Due: go-lint

run golangci-lint + fix lint issues
  x/bridge/keeper/assets_unlocked_test.go
  x/bridge/keeper/genesis.go
  x/bridge/types/genesis.go
Due: go-lint

rename MinBridgeOutAmountForBitcoinChain to BitcoinChainMinBridgeOutAmount
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/genesis.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
Due: go-lint

Used defer when cancelling context
  bridge-worker/bridge_worker.go
Due: go-lint

Moved event fetching functionality to mezod-wide utils
  bridge-worker/btc_withdrawal.go
  utils/event_fetch.go
Due: go-lint

rfc-3.md
  docs/rfc/rfc-3.md
Due: markdown-format

rfc-4.md
  docs/rfc/rfc-4.md
Due: markdown-format

rfc-5.md
  docs/rfc/rfc-5.md
Due: markdown-format

Added unit tests for bridge-worker
  bridge-worker/bridge_worker.go
  bridge-worker/btc_withdrawal.go
  bridge-worker/btc_withdrawal_test.go
  bridge-worker/ethereum/contracts.go
  bridge-worker/mock_bitcoin_chain_test.go
  bridge-worker/mock_ethereum_chain_test.go
  ethereum/bindings/tbtc/tbtc.go
  ethereum/ethereum.go
  utils/event_fetch_test.go
Due: go-lint

fix issue from merge
  bridge-worker/bridge_worker.go
Due: go-lint

Add supabase migration for the bridge worker
  Makefile
  bridge-worker/README.md
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20250922191246_initial_tables.sql
  supabase/seed.sql
Due: markdown-format

fix markdown linting issues
  bridge-worker/README.md
Due: markdown-format

add validation against the mexo bridge grpc endpoint on new attestation
  bridge-worker/bridge_worker.go
  bridge-worker/mock_mezo_bridge_test.go
  bridge-worker/mock_store_test.go
  bridge-worker/mocks_test.go
  bridge-worker/server.go
  bridge-worker/server_test.go
  x/bridge/types/assets_unlocked.go
Due: go-lint

fix markdown lints error
  bridge-worker/README.md
Due: markdown-format

more markdown fixes
  bridge-worker/README.md
Due: markdown-format
