Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

add Makefile target to build locally for testing
  Makefile
Due: none

Add pre-mainnet initial validators
  chain/mainnet/mezo_31612-1/genesis.json
Due: none

Add pre-mainnet seed nodes
  chain/mainnet/mezo_31612-1/seeds.txt
Due: none

address PR review
  go.sum
  x/bridge/abci/proposal.go
  x/bridge/abci/proposal_test.go
Due: go-lint

Renaming workflow to `Release Binary`
  .github/workflows/binary.yml
Due: none

Tidy up `go.sum`
  go.sum
Due: none

Supress gosec's false positive in tests
  x/bridge/abci/proposal_test.go
Due: go-lint

Add GH service account as binary registry writer
  infrastructure/terraform/mezo-staging/oidc-github.tf
Due: none

TF backend bucket for `mezo-production` environment
  infrastructure/terraform/.gitignore
  infrastructure/terraform/mezo-production/.env
  infrastructure/terraform/mezo-production/.terraform-version
  infrastructure/terraform/mezo-production/remote-state/main.tf
  infrastructure/terraform/mezo-staging/.gitignore
Due: none

Infra artifacts for mezo-production env
  infrastructure/terraform/mezo-production/gke.tf
  infrastructure/terraform/mezo-production/load-secrets.sh
  infrastructure/terraform/mezo-production/main.tf
  infrastructure/terraform/mezo-production/nat.tf
  infrastructure/terraform/mezo-production/providers.tf
  infrastructure/terraform/mezo-production/ssl-certificates/mezo-production-explorer.crt.tpl
  infrastructure/terraform/mezo-production/ssl-certificates/mezo-production-explorer.key.tpl
  infrastructure/terraform/mezo-production/variables.tf
  infrastructure/terraform/mezo-production/vpc.tf
Due: none

Remove panic condition guarding mainnet chain config
  chain/chain.go
Due: go-lint

Blockscout stack for mezo-production
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
  infrastructure/kubernetes/mezo-production/values/postgresql.yaml
  infrastructure/terraform/mezo-production/ssl_certificates.tf
Due: none

Update TF package docs
  infrastructure/terraform/README.md
  infrastructure/terraform/mezo-production/README.md
  infrastructure/terraform/mezo-staging/README.md
Due: markdown-format

Update k8s package docs
  infrastructure/kubernetes/README.md
  infrastructure/kubernetes/mezo-production/README.md
  infrastructure/kubernetes/mezo-staging/README.md
  infrastructure/terraform/README.md
  infrastructure/terraform/mezo-production/README.md
  infrastructure/terraform/mezo-staging/README.md
Due: markdown-format

Pin specific BS versions
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
Due: none

Satisfy linters
  infrastructure/terraform/mezo-production/.env
  infrastructure/terraform/mezo-production/remote-state/main.tf
Due: none

add simple monitoring for the validators versions
  cmd/monitoring/main.go
  go.mod
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

fix golangci-lint lints reports
  cmd/monitoring/main.go
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

linter fixes yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

ignore unnecessary hadolint lint
  Dockerfile.monitoring
Due: none

base k8s infrastructure
  Dockerfile.monitoring
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/ingress.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/namespace.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/configmap.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

linter fixes on Docker.monitoring
  Dockerfile.monitoring
Due: none

add latest metrics + logging + move network id in config
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

linter fixes on kustomization
  infrastructure/kubernetes/monitoring/kustomization.yaml
Due: none

try to disable an option for kubeval
  .github/workflows/super-linter.yml
Due: none

add step to build the monitoring docker image
  Makefile
Due: none

update metrics name + add up gauge
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

rename monitoring to metrics-scraper
  Dockerfile.metrics-scraper
  Makefile
  cmd/metrics-scraper/main.go
  go.sum
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  metrics-scraper/config.go
  metrics-scraper/config.json
  metrics-scraper/monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

attach the monitoring IP to the metrics-scraper service
  infrastructure/kubernetes/monitoring/metrics-scraper/service.yaml
Due: none

rename persistent-volume-claim to pvc
  infrastructure/kubernetes/monitoring/grafana/pvc.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/pvc.yaml
Due: none

rename network -> chain_id
  metrics-scraper/config.go
  metrics-scraper/config.json
  metrics-scraper/monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

add secrets to grafana deployement
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Due: markdown-format

move monitoring base under kubernetes/common and production / staging related overlay under the relevant folders
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/grafana/pvc.yaml
  infrastructure/kubernetes/common/monitoring/grafana/service.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/service.yaml
  infrastructure/kubernetes/common/monitoring/namespace.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/pvc.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-production/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/monitoring/README.md
Due: markdown-format

fix linter issues
  infrastructure/kubernetes/common/monitoring/grafana/config/dashboards.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
Due: none

run yamllint
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
Due: none

run yamllint
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

split kustomize base and overlays in separate folders
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/base/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/base/grafana/pvc.yaml
  infrastructure/kubernetes/monitoring/base/grafana/service.yaml
  infrastructure/kubernetes/monitoring/base/kustomization.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/service.yaml
  infrastructure/kubernetes/monitoring/base/namespace.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/pvc.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/production/grafana/deployement-patch.yaml
  infrastructure/kubernetes/monitoring/production/ingress.yaml
  infrastructure/kubernetes/monitoring/production/kustomization.yaml
  infrastructure/kubernetes/monitoring/production/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/monitoring/staging/grafana/deployement-patch.yaml
  infrastructure/kubernetes/monitoring/staging/ingress.yaml
  infrastructure/kubernetes/monitoring/staging/kustomization.yaml
  infrastructure/kubernetes/monitoring/staging/metrics-scraper/service-patch.yaml
  infrastructure/terraform/mezo-staging/ssl_certificates.tf
  infrastructure/terraform/mezo-staging/variables.tf
Due: markdown-format

More configuration
  Dockerfile.metrics-scraper
  infrastructure/kubernetes/common/monitoring/grafana/config/dashboards.yaml
  infrastructure/kubernetes/common/monitoring/grafana/config/datasources.yaml
  infrastructure/kubernetes/common/monitoring/grafana/config/grafana.ini
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/config/config.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/config/config.json
Due: none

add some initial documentation for mezo-staging monitoring
  infrastructure/kubernetes/mezo-staging/monitoring/README.md
Due: markdown-format

remove unused comet_url in metrics scraper config
  metrics-scraper/config.go
Due: go-lint
