Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Blocking setting an address of a ChainFeeSplitter if that address is on the blocked list
  app/app.go
  precompile/maintenance/chain_fee_splitter.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  utils/utils.go
Due: go-lint

Revert "Blocking setting an address of a ChainFeeSplitter if that address is on the blocked list"
  app/app.go
  precompile/maintenance/chain_fee_splitter.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  utils/utils.go
Due: go-lint

Logging error instead of returning an error
  x/evm/keeper/abci.go
Due: go-lint

Removing return error from transferFundsToChainFeeSplitter
  x/evm/keeper/abci.go
Due: go-lint

Linting
  x/evm/keeper/abci.go
Due: go-lint

Schedule the v0.7.0 Matsnet fork
  app/upgrades.go
  app/upgrades/v0_7/constants.go
  app/upgrades/v0_7/forks.go
  docs/upgrades.md
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  x/bridge/keeper/abci.go
  x/evm/types/precompile.go
Due: go-lint, markdown-format

Bump Mezo testnet nodes to v0.7.0-rc0
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Schedule the v0.7.0 Matsnet fork
  app/upgrades.go
  app/upgrades/v0_7/constants.go
  app/upgrades/v0_7/forks.go
  docs/upgrades.md
Due: go-lint, markdown-format

Add incident report for Matsnet halt on March 12, 2025
  docs/reports/2025-03-12-matsnet-halt.md
Due: markdown-format

Improvements to the "Next steps" section
  docs/reports/2025-03-12-matsnet-halt.md
Due: markdown-format

Add `eth_estimateCost` method to the EVM JSON-RPC
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/query_client.go
  rpc/types/types.go
Due: go-lint

Broke out a few more next steps in matsnet halt report
  docs/reports/2025-03-12-matsnet-halt.md
Due: markdown-format

Unit tests for EstimateCost method
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/mocks/oracle.go
Due: go-lint

Update EVM compatibility documentation
  docs/evm-compatibility.md
Due: markdown-format

some mardown fixes
  tests/perfs/README.md
Due: markdown-format

Update default bytecode of the Maintenance precompile
  precompile/maintenance/byte_code.go
Due: go-lint

add static IP for monitoring
  infrastructure/terraform/mezo-staging/variables.tf
Due: none

Return `decimals` not `precision` in the result of `eth_estimateCost`
  docs/evm-compatibility.md
  rpc/backend/call_tx.go
  rpc/types/types.go
Due: go-lint, markdown-format

Rename `eth_estimateCost` to `mezo_estimateCost`
  entrypoint.sh
  rpc/apis.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/mezo/api.go
  server/config/config.go
Due: go-lint

Update EVM compat docs and improve overal structure by the way
  docs/evm-compatibility.md
Due: markdown-format

Fix failing tests
  rpc/backend/call_tx_test.go
Due: go-lint

Enable mezo API namespace in scripts starting localnet
  scripts/localnet-start.sh
  scripts/localnode-start.sh
Due: none

fix(docs/evm-compatibility.md): correct typos in EVM compatibility section
  docs/evm-compatibility.md
Due: markdown-format

addressed PR comments
  x/bridge/keeper/assets_locked.go
  x/bridge/keeper/assets_locked_test.go
  x/bridge/keeper/keeper.go
Due: go-lint

Prevent BTC minting to blocked addresses
  app/app.go
  x/bridge/keeper/assets_locked.go
  x/bridge/keeper/assets_locked_test.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/keeper_test.go
Due: go-lint

prevent deposit to blocked address for ERC20 as well
  x/bridge/keeper/assets_locked.go
  x/bridge/keeper/assets_locked_test.go
Due: go-lint

add script to run perf tests some mardown fixes add rate limit for wallet add tendermint mempool tracking + aggregate data as we send transaction
  scripts/localnode-start.sh
  tests/perfs/README.md
  tests/perfs/aggregate.go
  tests/perfs/cli.go
  tests/perfs/generate.go
  tests/perfs/go.mod
  tests/perfs/go.sum
  tests/perfs/import_key.go
  tests/perfs/main.go
  tests/perfs/run.go
  tests/perfs/store.go
  tests/perfs/token/token.go
Due: go-lint, markdown-format

some more tweaks to the perf tests runner
  tests/perfs/aggregate.go
  tests/perfs/run.go
Due: go-lint

ensure much greater gas price
  tests/perfs/run.go
Due: go-lint

add initial version of the perf tests report
  docs/reports/performance_tests.md
  tests/perfs/run.go
Due: go-lint, markdown-format

fix linter
  docs/reports/performance_tests.md
Due: markdown-format

address PR review
  docs/performance-tests.md
  tests/performance/README.md
  tests/performance/aggregate.go
  tests/performance/bindings/token.go
  tests/performance/cli.go
  tests/performance/generate.go
  tests/performance/go.mod
  tests/performance/go.sum
  tests/performance/import_key.go
  tests/performance/main.go
  tests/performance/run.go
  tests/performance/store.go
Due: go-lint, markdown-format

address PR review
  scripts/localnode-start.sh
  tests/performance/README.md
Due: markdown-format

markdown lint
  tests/performance/README.md
Due: markdown-format

modify sentences about the minimum gasLimit consumption
  docs/performance-tests.md
Due: markdown-format

fix link in markdown
  docs/performance-tests.md
Due: markdown-format

add test performances report
  .gitignore
  docs/assets/10m_erc20_gas.png
  docs/assets/10m_erc20_txs.png
  docs/assets/10m_high_gas.png
  docs/assets/10m_high_txs.png
  docs/assets/10m_native_gas.png
  docs/assets/10m_native_txs.png
  docs/assets/10m_precompile_gas.png
  docs/assets/10m_precompile_txs.png
  docs/assets/125m_high_gas.png
  docs/assets/125m_high_txs.png
  docs/assets/125m_low_gas.png
  docs/assets/125m_low_txs.png
  docs/assets/15m_high_gas.png
  docs/assets/15m_high_txs.png
  docs/assets/15m_low_gas.png
  docs/assets/15m_low_txs.png
  docs/assets/175m_high_gas.png
  docs/assets/175m_high_txs.png
  docs/assets/175m_low_gas.png
  docs/assets/175m_low_txs.png
  docs/performance-tests.md
Due: markdown-format

Additional system tests covering precompile reverts
  tests/system/contracts/MezoTransfers.sol
  tests/system/test/MezoTransfers.test.ts
Due: none
