Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Execute multi-call and multi-block eth_simulateV1 requests
  x/evm/keeper/simulate_v1.go
Due: go-lint

Resolve eth_simulateV1 base anchor to a concrete height
  rpc/backend/simulate_v1.go
  x/evm/keeper/grpc_query.go
Due: go-lint

Test multi-call and multi-block eth_simulateV1 in the keeper
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/simulate_v1_test.go
Due: go-lint

Add system tests for multi-call and multi-block eth_simulateV1
  tests/system/test/SimulateV1_MultiBlock.test.ts
  tests/system/test/SimulateV1_MultiCall.test.ts
Due: none

Slim eth_simulateV1 plan to the remaining work
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Expand eth_simulateV1 plan to cover block-envelope fields
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Use in-block index for simulated tx context
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
Due: go-lint

Update AccessEvents() method
  x/evm/keeper/state_transition_test.go
  x/evm/statedb/statedb.go
Due: go-lint

Add an operator kill switch for eth_simulateV1
  rpc/backend/backend.go
  rpc/backend/node_info.go
  rpc/namespaces/ethereum/eth/simulate_v1.go
  rpc/namespaces/ethereum/eth/simulate_v1_test.go
  server/config/config.go
  server/config/toml.go
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Cap eth_simulateV1 input by block count and total calls
  rpc/backend/simulate_v1.go
  server/config/toml.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Cap eth_simulateV1 gas with a request-wide budget
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
Due: go-lint

Add a request-wide timeout to eth_simulateV1
  rpc/backend/simulate_v1.go
  rpc/backend/simulate_v1_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition.go
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Promote SimTimestampIncrement to x/evm/types
  x/evm/keeper/simulate_v1.go
  x/evm/types/simulate_v1.go
Due: go-lint

Refresh eth_simulateV1 plan for shipped DoS hardening
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Simplify simulate driver header lifecycle
  x/evm/keeper/simulate_v1.go
Due: go-lint

Lift simulate ToMessage rejection to request-level fatal
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
Due: go-lint

Rename simulate driver context parameters
  x/evm/keeper/simulate_v1.go
Due: go-lint

Add system-test coverage for eth_simulateV1 request-level fatals
  tests/system/test/SimulateV1_Limits.test.ts
  tests/system/test/SimulateV1_MovePrecompile_ethCall.test.ts
  tests/system/test/SimulateV1_MultiCall.test.ts
  tests/system/test/SimulateV1_RejectedOverrides.test.ts
  tests/system/test/helpers/rpc-error.ts
Due: none

Clarify execute.yaml as the geth execution spec
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  proto/ethermint/evm/v1/query.proto
  tests/system/test/SimulateV1_Limits.test.ts
  x/evm/keeper/simulate_v1.go
  x/evm/types/query.pb.go
  x/evm/types/simulate_v1_errors.go
Due: go-lint, markdown-format

Implement Finalise() method
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Add transfer tracer for eth_simulateV1
  x/evm/keeper/simulate_v1.go
  x/evm/statedb/statedb.go
  x/evm/tracer/transfertracer/tracer.go
Due: go-lint

Add SimError constructors for validation-mode failures
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Test eth_simulateV1 traceTransfers end-to-end
  tests/system/test/SimulateV1_TraceTransfers.test.ts
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Add unit tests for the transfertracer package
  x/evm/tracer/transfertracer/tracer_test.go
Due: go-lint

Trim transfer tracer surface and comments
  tests/system/test/SimulateV1_TraceTransfers.test.ts
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/statedb/statedb.go
  x/evm/tracer/transfertracer/tracer.go
  x/evm/tracer/transfertracer/tracer_test.go
Due: go-lint

Test eth_simulateV1 validation=true mode end-to-end
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/simulate_v1_errors_test.go
Due: go-lint

Add validation=true pre-call gate to simulate driver
  x/evm/keeper/simulate_v1.go
Due: go-lint

Add system tests for eth_simulateV1 validation=true mode
  tests/system/test/SimulateV1_Validation.test.ts
Due: none

Tighten validateSimCall surface and trim narration
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/simulate_v1_errors_test.go
Due: go-lint

Port RPCMarshalBlock and RPCMarshalHeader from go-ethereum
  x/evm/types/rpc_marshal_block.go
Due: go-lint

Wire typed block envelope through eth_simulateV1
  x/evm/keeper/simulate_v1.go
  x/evm/types/simulate_v1.go
Due: go-lint

Test eth_simulateV1 block envelope and full transactions
  rpc/backend/simulate_v1_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Add system tests for eth_simulateV1 envelope and full tx
  tests/system/test/SimulateV1_BlockEnvelope.test.ts
  tests/system/test/SimulateV1_FullTx.test.ts
Due: none

Address golangci-lint findings
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/tracer/transfertracer/tracer.go
  x/evm/tracer/transfertracer/tracer_test.go
  x/evm/types/simulate_v1_errors.go
  x/evm/types/simulate_v1_errors_test.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Key Senders by index and align validation order
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Refresh eth_simulateV1 plan for shipped feature parity
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Trim envelope marshal commentary
  rpc/backend/simulate_v1_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/rpc_marshal_block.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Note validation=true gating on remaining SimError constructors
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Rename StateDB SetLogger to SetTracingHooks
  x/evm/keeper/simulate_v1.go
  x/evm/statedb/statedb.go
Due: go-lint

Inline eth_simulateV1 transfer tracer into the keeper
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_logtracer.go
  x/evm/keeper/simulate_v1_logtracer_test.go
  x/evm/keeper/state_override.go
  x/evm/tracer/transfertracer/tracer.go
  x/evm/tracer/transfertracer/tracer_test.go
Due: go-lint
