Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Fold recipient-guard simulate coverage into SimulateV1_MezoDivergence
  tests/system/test/SimulateV1_MezoDivergence.test.ts
  tests/system/test/SimulateV1_RecipientGuard.test.ts
Due: none

Use lazy evaluation when getting custom precompiles for tracer
  x/evm/keeper/keeper.go
  x/evm/types/tracer.go
Due: go-lint

Optimize StateDB tracing
  x/evm/statedb/statedb.go
Due: go-lint

Extract StateDB tracing into helpers
  x/evm/statedb/statedb.go
Due: go-lint

Simplify NoOpTracer
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Due: go-lint

Support EIP-7702 SetCode (type-4) envelopes in eth_simulateV1
  .claude/MEZO-4336-eth-simulate-v1-geth116/plan.md
  docs/spec/eth-simulate-v1.md
  tests/system/test/SimulateV1_SpecCompliance.test.ts
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_test.go
Due: go-lint, markdown-format

Exercise the delegation in the SimulateV1 SetCode test
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Reject SetCodeTx contract creation in args.ToMessage
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/tx_args.go
  x/evm/types/tx_args_test.go
Due: go-lint

Share effective-gas-price computation across typed RPC tx arms
  x/evm/types/simulate_v1.go
Due: go-lint

Trim the SetCode (type-4) row in the SimulateV1 scenario table
  tests/system/test/SimulateV1_SpecCompliance.test.ts
Due: none

Refactor selfdestruct tracing
  x/evm/statedb/statedb.go
Due: go-lint

Refresh stale geth-version references in simulate v1 comments
  x/evm/keeper/simulate_v1.go
  x/evm/statedb/statedb.go
Due: go-lint

Mirror rpc/types/utils.go setEffectiveGasPrice signature
  x/evm/types/simulate_v1.go
Due: go-lint

Refine eth_simulateV1 divergence #1 wording
  docs/spec/eth-simulate-v1.md
Due: markdown-format

Improved tracing check function
  x/evm/keeper/state_transition.go
Due: go-lint

Drop EIP-7685 mention from eth_simulateV1 divergence #1
  docs/spec/eth-simulate-v1.md
Due: markdown-format

Remove obsolete TODO from SetTxContext
  x/evm/statedb/statedb.go
Due: go-lint

Document Prague and Osaka EIP coverage in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Prevent StateDB hooks overwriting
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Refine Prague and Osaka EIP status entries in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Restore concise Osaka rides-Geth entries in evm-compatibility.md
  docs/evm-compatibility.md
Due: markdown-format

Added multi-hook support in StateDB
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Drop EIP-7825 IN PROGRESS flag; record block-gas-limit reasoning
  docs/evm-compatibility.md
Due: markdown-format

Split the v11 fork-time update into setPragueTime and setOsakaTime
  app/upgrades/v11_0/upgrades.go
Due: go-lint

Default Osaka fork active at genesis
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
  app/ante/utils/setup_test.go
  x/evm/keeper/setup_test.go
  x/evm/types/chain_config.go
Due: go-lint

Drop the lingering comment about post-Osaka fork times
  x/evm/types/chain_config.go
Due: go-lint

Activate Osaka fork in v11 upgrade handler
  app/upgrades/v11_0/upgrades.go
Due: go-lint

Narrow the EIP-2935 divergence pin to the empty-system-contract half
  tests/system/contracts/BlockhashCheck.sol
  tests/system/deploy/17_deploy_blockhash_check.ts
  tests/system/test/Eip2935_MezoDivergence.test.ts
Due: none

Pin EIP-7939 CLZ opcode under a system test
  tests/system/test/ClzCheck.test.ts
Due: none

Pin the EIP-2935 history-storage divergence under a system test
  tests/system/contracts/BlockhashCheck.sol
  tests/system/deploy/17_deploy_blockhash_check.ts
  tests/system/test/Eip2935_MezoDivergence.test.ts
Due: none

Fix the ModexpCheck baseline vector
  tests/system/test/ModexpCheck.test.ts
Due: none

Drop the EIP-2935 and EIP-7685 Mezo-divergence tests
  tests/system/test/Eip2935_MezoDivergence.test.ts
  tests/system/test/Eip7685_MezoDivergence.test.ts
Due: none

Pin the EIP-7685 requestsHash absence under a system test
  tests/system/test/Eip7685_MezoDivergence.test.ts
Due: none

Pin EIP-7823 and EIP-7883 MODEXP changes under system tests
  tests/system/contracts/ModexpCheck.sol
  tests/system/deploy/15_deploy_modexp_check.ts
  tests/system/test/ModexpCheck.test.ts
Due: none

Compute the v11 fork time once and pass it to both helpers
  app/upgrades/v11_0/upgrades.go
Due: go-lint

Pin EIP-7951 P256VERIFY precompile under a system test
  tests/system/contracts/P256VerifyCheck.sol
  tests/system/deploy/16_deploy_p256_verify_check.ts
  tests/system/test/P256VerifyCheck.test.ts
Due: none

Drop the geth-upgrade TODO guard workflow
  .github/workflows/geth-upgrade-todos.yml
Due: none

Refactored selfdestruct tracing
  x/evm/statedb/statedb.go
Due: go-lint

Add early return when tracing code change
  x/evm/statedb/statedb.go
Due: go-lint
