Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Add Dashboard to track account balances
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/accounts.json
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/accounts.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

Improve the mezo-portal dashboard
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-portal.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-portal.json
Due: none

fix RPC leak
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/websockets.go
Due: go-lint

run golangci-lint
  rpc/websockets.go
Due: go-lint

add getCurrentSequenceTip view methd
  go.sum
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/sequence_tip.go
  precompile/assetsbridge/sequence_tip_test.go
  precompile/assetsbridge/setup_test.go
  precompile/contract.go
  x/evm/types/precompile.go
Due: go-lint

add hardhat method
  go.sum
  precompile/assetsbridge/sequence_tip.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
  precompile/hardhat/tasks/assetsbridge.ts
Due: go-lint

Apply suggestions from code review
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/assets_bridge.go
Due: go-lint

update AssetBridge precompile bytecode
  precompile/assetsbridge/byte_code.go
  precompile/contract.go
Due: go-lint

Update precompile/hardhat/tasks/assetsbridge.ts
  precompile/hardhat/tasks/assetsbridge.ts
Due: none

Refactored Ethereum sidecar package structure
  ethereum/contracts.go
  ethereum/sidecar/contracts.go
  ethereum/sidecar/contracts_test.go
  ethereum/sidecar/server.go
  ethereum/sidecar/server_test.go
Due: go-lint

Expose testnet faucet publicly
  infrastructure/cloudflare/faucet/wrangler.toml
Due: none

Defined messages for mezod - Ethereum sidecar communication
  ethereum/sidecar/types/ethereum_sidecar_bridge_out.pb.go
  proto/mezo/bridge/v1/bridge.proto
  proto/mezo/ethereum_sidecar/v1/ethereum_sidecar_bridge_out.proto
  x/bridge/types/bridge.pb.go
Due: go-lint

The v2.0.0 upgrade handler for testnet
  app/upgrades/v2_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Bump Mezo testnet nodes to v2.0.2
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

add bridgeOut for ERC20
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/bridge_out.go
  proto/mezo/bridge/v1/bridge.proto
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/genesis.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/keys.go
  x/evm/types/call.go
Due: go-lint

run golangci-lint
  go.sum
  precompile/assetsbridge/bridge_out.go
  precompile/assetsbridge/setup_test.go
  x/bridge/keeper/assets_unlocked.go
Due: go-lint

go mod tidy
  go.sum
Due: none

Added Ethereum sidecar bridge-out server
  ethereum/sidecar/bridge_out_server.go
Due: go-lint

Additional adjustments
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Added Ethereum sidecar bridge-out client
  ethereum/sidecar/bridge_out_client.go
Due: go-lint

Add a way to set/get min gas price in the Maintenance precompile
  app/app.go
  precompile/maintenance/IMaintenance.sol
  precompile/maintenance/abi.json
  precompile/maintenance/gas_price.go
  precompile/maintenance/gas_price_test.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  x/evm/types/precompile.go
Due: go-lint

Expose HH tasks for set/get min gas price
  precompile/hardhat/tasks/maintenance.ts
Due: none

Update bytecode of the Maintenance precompile
  precompile/hardhat/contracts/MaintenanceCaller.sol
  precompile/maintenance/byte_code.go
Due: go-lint

Update obsolete docstring of `EvmByteCode` in all precompiles
  precompile/assetsbridge/byte_code.go
  precompile/btctoken/byte_code.go
  precompile/maintenance/byte_code.go
  precompile/mezotoken/byte_code.go
  precompile/priceoracle/byte_code.go
  precompile/testbed/byte_code.go
  precompile/upgrade/byte_code.go
  precompile/validatorpool/byte_code.go
Due: go-lint

The v3.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v3_0/constants.go
  app/upgrades/v3_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Suppress gocritic error
  app/upgrades/v3_0/upgrades.go
Due: go-lint

Fix gofumpt errors
  app/upgrades/v3_0/upgrades.go
Due: go-lint

Bump Mezo testnet nodes to v3.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Added launching bridge-out server
  app/app.go
  app/bridgeout.go
  server/flags/flags.go
Due: go-lint

Update v3 upgrade block for mainnet in docs
  docs/upgrades.md
Due: markdown-format

Added flags needed for running bridge-out server
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: go-lint

Added condition for running bridge-out gRPC server
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  cmd/mezod/root.go
  testutil/network/network.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Due: go-lint

implements bridgeOut method on the AssetBridge precompile for ERC20 and BTC
  app/app.go
  ethereum/sidecar/cli/ethereum_sidecar.go
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/bridge_out.go
  precompile/assetsbridge/bridge_out_test.go
  precompile/assetsbridge/setup_test.go
  proto/mezo/bridge/v1/bridge.proto
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/genesis.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/keys.go
  x/evm/types/call.go
  x/evm/types/precompile.go
Due: go-lint

Added flags needed for running bridge-out client
  ethereum/sidecar/cli/ethereum_sidecar.go
  ethereum/sidecar/cli/flags.go
  ethereum/sidecar/server.go
  server/config/config.go
Due: go-lint

fix naming AssetUnlocked -> AssetsUnlocked
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/bridge_out.go
  precompile/assetsbridge/bridge_out_test.go
  precompile/assetsbridge/setup_test.go
  proto/mezo/bridge/v1/bridge.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/genesis.pb.go
Due: go-lint

Apply suggestions from code review
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/bridge_out.go
Due: go-lint

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
