Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Tighten provenance wait from +3 to +2
  tests/system/test/TripartyBridge.test.ts
Due: none

Re-generate protobufs
  x/bridge/types/genesis.pb.go
Due: go-lint

Test per-controller provenance persists after controller disallow
  x/bridge/keeper/triparty_test.go
Due: go-lint

Reject zero-amount per-controller provenance entries in genesis validation
  x/bridge/keeper/genesis.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis_test.go
Due: go-lint

Normalize addresses in controller minted duplicate detection
  x/bridge/types/genesis.go
  x/bridge/types/genesis_test.go
Due: go-lint

Add case-insensitive duplicate detection for allowed triparty controllers
  x/bridge/types/genesis.go
  x/bridge/types/genesis_test.go
Due: go-lint

Add v9.0.0 upgrade entries for testnet and mainnet
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v9.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Bump testnet node image tags from v9.0.0-rc0 to v9.0.0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Remove image and tag overrides from testnet node values
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Added system test for indirect token bridge-out
  tests/system/contracts/BridgeOutCaller.sol
  tests/system/deploy/11_deploy_indirect_bridge_out.ts
  tests/system/test/AssetsBridgeIndirectBridgeOut.test.ts
Due: none

Enable MEZO/USD price feed for Mezo and Ethereum
  infrastructure/kubernetes/common/pyth-scheduler-ethereum/configmap.yaml
  infrastructure/kubernetes/common/pyth-scheduler-mezo/configmap.yaml
Due: none

Adding config setup for Safety Buffer
  infrastructure/kubernetes/common/safety-buffer-keeper/README.md
  infrastructure/kubernetes/common/safety-buffer-keeper/deployment.yaml
  infrastructure/kubernetes/common/safety-buffer-keeper/kustomization.yaml
  infrastructure/kubernetes/mezo-production/safety-buffer-keeper/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/safety-buffer-keeper/README.md
Due: markdown-format

fix eth_getLogs panic when block hash lookup returns no tendermint block
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/filters_logs_test.go
Due: go-lint

Linting only
  infrastructure/kubernetes/common/safety-buffer-keeper/deployment.yaml
Due: none

Add CLAUDE.md onboarding guide for Claude Code
  CLAUDE.md
Due: markdown-format

Wrap CLAUDE.md prose at 120 columns for markdownlint
  CLAUDE.md
Due: markdown-format

Add MEZO-4227 eth_simulateV1 plan and research notes
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  .claude/MEZO-4227-eth-simulate-v1/research.md
Due: markdown-format

Update .markdownlintignore to include .claude files
  .markdownlintignore
Due: none

Fix research reference in plan.md
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Add EIP-7702 research and implementation plan
  .claude/MEZO-4013-eip7702-set-code/plan.md
  .claude/MEZO-4013-eip7702-set-code/research.md
Due: markdown-format

Add rpc/types for eth_simulateV1 request/response shapes
  rpc/types/simulate.go
  rpc/types/simulate_test.go
Due: go-lint

Add JSON-RPC error codes and JSONRPCError for eth_simulateV1
  rpc/types/simulate_errors.go
  rpc/types/simulate_errors_test.go
Due: go-lint

Add eth_simulateV1 backend stub
  rpc/backend/backend.go
  rpc/backend/simulate.go
  rpc/backend/simulate_test.go
Due: go-lint

Register eth_simulateV1 on the eth_ namespace
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/simulate.go
Due: go-lint

Add Hardhat system test for eth_simulateV1 stub
  tests/system/test/SimulateV1_Stub.test.ts
Due: none

Mark Phase 1 done in eth_simulateV1 plan
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Link PR #658 next to Phase 1 DONE mark
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Generalize JSONRPCError as RPCError and rename file to errors.go
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  rpc/backend/simulate_test.go
  rpc/types/errors.go
  rpc/types/errors_test.go
Due: go-lint, markdown-format

Align eth_simulateV1 error codes with spec
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  rpc/backend/simulate_test.go
  rpc/types/errors.go
  rpc/types/errors_test.go
  tests/system/test/SimulateV1_Stub.test.ts
Due: go-lint, markdown-format

Adding monitoring addresses for Pyth oracle configs
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
Due: none

Drop per-constant docstrings from errors.go
  rpc/types/errors.go
Due: go-lint

Apply gofumpt to rpc/types/errors.go
  rpc/types/errors.go
Due: go-lint

Annotate SimErrCodeReverted divergence from geth
  rpc/types/errors.go
Due: go-lint

Updated Go version in docker and CI
  .github/workflows/binary.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CLAUDE.md
  Dockerfile
Due: markdown-format

Added CI workflow for checking geth upgrade TODOs
  .github/workflows/geth-upgrade-todos.yml
  x/evm/keeper/fees.go
  x/evm/keeper/gas.go
  x/evm/statedb/statedb.go
Due: go-lint

Updated fee calculations
  x/feemarket/keeper/eip1559.go
Due: go-lint

Remove MEZO/USD price feed and increase updates for USDT/USD and MUSD/USD
  infrastructure/kubernetes/common/pyth-scheduler-ethereum/configmap.yaml
Due: none
