Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Helper script to add new nodes
  infrastructure/kubernetes/common/monitoring/README.md
  infrastructure/kubernetes/common/monitoring/add-node.sh
Due: markdown-format

Added maximum gas limit for processing predecessors
  x/evm/keeper/grpc_query.go
Due: go-lint

Cleanup metrics scraper service
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/terraform/mezo-production/variables.tf
  infrastructure/terraform/mezo-staging/variables.tf
Due: none

Split mainnet monitoring dashboard to public and private
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-private.json
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
Due: none

Update the comtbft dep to 0.38.17
  go.mod
  go.sum
Due: none

restore toolchan 1.22.5
  go.mod
Due: none

run go mod tidy
  go.mod
Due: none

Improvements to the metrics scrapper
  metrics-scraper/monitoring.go
Due: go-lint

fix typo
  metrics-scraper/monitoring.go
Due: go-lint

Address PR comments
  metrics-scraper/monitoring.go
Due: go-lint

Update metrics-scraper/monitoring.go
  metrics-scraper/monitoring.go
Due: go-lint

address linter warning
  metrics-scraper/monitoring.go
Due: go-lint

Remove sidecars info from the public monitoring dash
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
Due: none

address PR review comments
  go.sum
  metrics-scraper/monitoring.go
Due: go-lint

update golangci-lint nakedret setting to 50 lines
  .golangci.yml
  go.sum
Due: none

Cosmetic adjustments to the monitoring dashboards
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-private.json
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-nodes-public.json
Due: none

Drafting generic bridgeable ERC20
  precompile/hardhat/hardhat.config.ts
  x/bridge/solidity/.env.example
  x/bridge/solidity/contracts/AbstractERC20Upgradeable.sol
  x/bridge/solidity/contracts/test/TestERC20.sol
  x/bridge/solidity/deploy/01_deploy_test_erc20.ts
  x/bridge/solidity/hardhat.config.ts
  x/bridge/solidity/package-lock.json
  x/bridge/solidity/package.json
  x/bridge/solidity/tsconfig.json
Due: none

Simplified DoS protection in `TraceTx`
  x/evm/keeper/grpc_query.go
Due: go-lint

Final mainnet genesis file
  chain/mainnet/mezo_31612-1/genesis.json
Due: none

Drafting deployment script for a TestERC20 contract.
  x/bridge/solidity/.gitignore
  x/bridge/solidity/contracts/AbstractERC20Upgradeable.sol
  x/bridge/solidity/contracts/test/TestERC20.sol
  x/bridge/solidity/deploy/01_deploy_test_erc20.ts
  x/bridge/solidity/hardhat.config.ts
  x/bridge/solidity/helpers/deploy-helpers.ts
  x/bridge/solidity/package-lock.json
  x/bridge/solidity/package.json
Due: none

Adding tests to cover a generic ERC20 token for Mezo
  .gitignore
  x/bridge/solidity/contracts/AbstractERC20Upgradeable.sol
  x/bridge/solidity/deploy/01_deploy_test_erc20.ts
  x/bridge/solidity/hardhat.config.ts
  x/bridge/solidity/test/TestERC20.test.ts
  x/bridge/solidity/test/helpers/contract.ts
Due: none

Adding a test with ownership transfer
  x/bridge/solidity/test/TestERC20.test.ts
Due: none

Remove the `debug` command
  client/debug/debug.go
  cmd/mezod/root.go
Due: go-lint

Remove the `rosetta` command
  cmd/mezod/root.go
Due: go-lint

Remove `config/observability.go`
  cmd/config/observability.go
  cmd/mezod/main.go
Due: go-lint

Remove useless `cmd_test.go`
  cmd/mezod/cmd_test.go
Due: go-lint

Rename `tendermint` subtree to `cometbft`
  server/util.go
Due: go-lint

Improve system test coverage and docs around precompiles
  precompile/erc20/allowance.go
  precompile/erc20/permit.go
  precompile/erc20/total_supply.go
  precompile/erc20/transfer.go
  tests/system/contracts/BTCTransfers.sol
  tests/system/deploy/01_deploy_btc_transfers.ts
  tests/system/test/BTCTransfers.test.ts
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mocks.go
  x/evm/statedb/statedb.go
Due: go-lint

Update MezoBridge binding for mainnet
  ethereum/bindings/portal/mainnet/gen/_address/MezoBridge
Due: none

Revert "Update MezoBridge binding for mainnet"
  ethereum/bindings/portal/mainnet/gen/_address/MezoBridge
Due: none

Update `MezoBridge` binding for mainnet
  ethereum/bindings/portal/mainnet/gen/_address/MezoBridge
Due: none

Revert "Rename `tendermint` subtree to `cometbft`"
  server/util.go
Due: go-lint

Update Dockerfile to use Go version 1.22.11
  Dockerfile
Due: none

Fix permissions for the GHA `Release Binary` workflow
  .github/workflows/binary.yml
Due: none

Update RPC for the mainnet block explorer
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
Due: none

Minor tweaks to the block explorer
  infrastructure/kubernetes/mezo-production/values/blockscout-stack.yaml
  infrastructure/kubernetes/mezo-staging/values/blockscout-stack.yaml
Due: none

Refactor HH config in precompile/hardhat
  precompile/hardhat/.env.example
  precompile/hardhat/hardhat.config.ts
Due: none

Add missing `__ERC20Burnable_init` call
  x/bridge/solidity/contracts/AbstractERC20Upgradeable.sol
Due: none

Skip `01_deploy_test_erc20` script on non-hardhat networks
  x/bridge/solidity/deploy/01_deploy_test_erc20.ts
Due: none

Reformat .env.example
  x/bridge/solidity/.env.example
Due: none
