Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

add missing state to the ExportGenesis and InitGenesis of the x/bridge
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/assets_unlocked_test.go
  x/bridge/keeper/genesis.go
  x/bridge/types/erc20.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
Due: go-lint

rename MinBridgeOutAmountForBitcoinChain to BitcoinChainMinBridgeOutAmount
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/genesis.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
Due: go-lint

add missing state to the genesis export
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/genesis.go
  x/bridge/keeper/outflow_limit.go
  x/bridge/keeper/outflow_limit_test.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
Due: go-lint

fix golangci-lint
  bridge-worker/server.go
  bridge-worker/server_test.go
Due: go-lint

instantiate the bridge work in the ethereum sidecar if the url is specified
  bridge-worker/client/client.go
  ethereum/sidecar/cli/ethereum_sidecar.go
  ethereum/sidecar/cli/flags.go
Due: go-lint

move some helpers in another file
  x/bridge/types/assets_unlocked.go
  x/bridge/types/erc20.go
Due: go-lint

encode addresses to hex in genesis
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/assets_unlocked_test.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/outflow_limit.go
  x/bridge/keeper/outflow_limit_test.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
Due: go-lint

run golanci-lint fixes
  x/bridge/keeper/assets_unlocked_test.go
Due: go-lint

Adding pyth scheduler manifests
  infrastructure/kubernetes/common/pyth-scheduler/README.md
  infrastructure/kubernetes/common/pyth-scheduler/configmap.yaml
  infrastructure/kubernetes/common/pyth-scheduler/deployment.yaml
  infrastructure/kubernetes/common/pyth-scheduler/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/pyth-scheduler/kustomization.yaml
Due: markdown-format

Fixing command params
  infrastructure/kubernetes/common/pyth-scheduler/deployment.yaml
Due: none

Adding shell commands on how to update configs
  infrastructure/kubernetes/common/pyth-scheduler/README.md
Due: markdown-format

Adding mezo production support
  infrastructure/kubernetes/mezo-production/pyth-scheduler/kustomization.yaml
Due: none

Added scaffolding for batch attestation job
  bridge-worker/batch_attestation.go
  bridge-worker/bridge_worker.go
  bridge-worker/server.go
Due: go-lint

Added batch attestation finality checks processing
  bridge-worker/batch_attestation.go
  bridge-worker/server.go
Due: go-lint

Moved batch attestation server outside environment
  bridge-worker/batch_attestation.go
  bridge-worker/bridge_worker.go
Due: go-lint

Adding MUSD/USD and BTC/USD price feeds
  infrastructure/kubernetes/common/pyth-scheduler/configmap.yaml
Due: none

Adding cbBTC, USDC, and USDT price feeds
  infrastructure/kubernetes/common/pyth-scheduler/configmap.yaml
Due: none

Renamed function
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/genesis.go
Due: go-lint

Updated docstring
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/types/genesis.pb.go
Due: go-lint

Updated docstrings
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/types/genesis.pb.go
Due: go-lint

Updated unit tests
  x/bridge/keeper/assets_unlocked_test.go
Due: go-lint

Adding instructions on how to add a new price feed
  infrastructure/kubernetes/common/pyth-scheduler/README.md
Due: markdown-format

Monitoring of bridge outflow limit saturation
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/bridge.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/bridge.json
  metrics-scraper/bridge_monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

Fix error message
  metrics-scraper/bridge_monitoring.go
Due: go-lint

Tweak error message
  metrics-scraper/bridge_monitoring.go
Due: go-lint

MEZO minting
  app/app.go
  precompile/hardhat/contracts/MEZOCaller.sol
  precompile/hardhat/tasks/mezotoken.ts
  precompile/mezotoken/IMEZO.sol
  precompile/mezotoken/abi.json
  precompile/mezotoken/byte_code.go
  precompile/mezotoken/mezotoken.go
  precompile/mezotoken/mezotoken_test.go
  precompile/mezotoken/mint.go
  precompile/mezotoken/mint_test.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/precompile.go
Due: go-lint

Improve docstrings
  precompile/mezotoken/IMEZO.sol
  proto/ethermint/evm/v1/evm.proto
Due: none

Add nil-check for amount
  precompile/mezotoken/mint.go
Due: go-lint

The v5.0.0 upgrade handler
  app/upgrades.go
  app/upgrades/v5_0/constants.go
  app/upgrades/v5_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Bump testnet nodes to v5.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Document v5.0.0 mainnet upgrade block
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v5.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Cross-chain MEZO representation
  solidity/contracts/xMEZO.sol
Due: none

Implement deployer for cross-chain MEZO
  solidity/contracts/xMEZODeployer.sol
Due: none

Deployment scripts for xMEZODeployer
  solidity/deploy/13_deploy_xmezo_deployer.ts
  solidity/helpers/deploy-helpers.ts
  solidity/helpers/erc2470/deploy.ts
  solidity/helpers/erc2470/index.ts
  solidity/helpers/erc2470/singleton-factory.ts
Due: none

Bump @nomicfoundation/hardhat-verify
  solidity/hardhat.config.ts
  solidity/package-lock.json
  solidity/package.json
Due: none

Deployment script for xMEZO
  solidity/deploy/14_deploy_xmezo.ts
  solidity/helpers/deploy-helpers.ts
Due: none

Bump @openzeppelin/hardhat-upgrades
  solidity/package-lock.json
  solidity/package.json
Due: none

Add missing tags and accounts for ETH networks
  solidity/hardhat.config.ts
Due: none

Add FQN for verification
  solidity/deploy/14_deploy_xmezo.ts
Due: none

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
