Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Make system test harness portable and configurable
  tests/system/hardhat.config.ts
  tests/system/system-tests.sh
Due: none

Add triparty bridge system tests
  tests/system/contracts/TripartyController.sol
  tests/system/deploy/10_deploy_triparty_controller.ts
  tests/system/test/TripartyBridge.test.ts
  tests/system/test/helpers/block.ts
Due: none

Fix linting error
  x/bridge/types/genesis_test.go
Due: go-lint

Add test for callback to EOA controller
  tests/system/test/TripartyBridge.test.ts
Due: none

Improve system test runner with testnet support and suite selection
  tests/system/README.md
  tests/system/hardhat.config.ts
  tests/system/system-tests.sh
Due: markdown-format

Document account requirements in system test README
  tests/system/README.md
Due: markdown-format

Simplify account requirements section in README
  tests/system/README.md
Due: markdown-format

Rename and reorder triparty test describe blocks
  tests/system/test/TripartyBridge.test.ts
Due: none

Strengthen triparty test assertions and add shared limits test
  tests/system/test/TripartyBridge.test.ts
Due: none

Reordered functions
  x/bridge/keeper/triparty.go
Due: go-lint

Refactored triparty request keeper helpers
  x/bridge/keeper/triparty.go
Due: go-lint

Simplified condition change
  x/bridge/types/genesis.go
Due: go-lint

Add callback gas cap test
  tests/system/contracts/TripartyController.sol
  tests/system/test/TripartyBridge.test.ts
Due: none

Added validation of triparty callback data in genesis
  x/bridge/keeper/triparty.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis_test.go
  x/bridge/types/keys.go
Due: go-lint

Added additional genesis validation for triparty
  x/bridge/types/genesis_test.go
Due: go-lint

Added rejection zero triparty controllers in genesis
  x/bridge/types/genesis.go
  x/bridge/types/genesis_test.go
Due: go-lint

Moved MaxTripartyCallbackDataLength const into a dedicated file
  x/bridge/types/keys.go
  x/bridge/types/triparty.go
Due: go-lint

Add missing genesis validation test cases for triparty bridge
  x/bridge/types/genesis_test.go
Due: go-lint

Add per-controller triparty BTC minted type and state key
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/keys.go
Due: go-lint

Add per-controller provenance tracking in keeper and genesis
  x/bridge/keeper/genesis.go
  x/bridge/keeper/triparty.go
Due: go-lint

Expose getTripartyControllerBTCMinted precompile method
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/byte_code.go
  precompile/assetsbridge/triparty.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
  precompile/hardhat/tasks/assetsbridge.ts
Due: go-lint

Add tests for per-controller triparty provenance tracking
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty_test.go
  x/bridge/keeper/genesis_test.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/genesis_test.go
Due: go-lint

Update RFC-6 with per-controller provenance tracking
  docs/rfc/rfc-6.md
Due: markdown-format

Fix linter errors
  precompile/assetsbridge/setup_test.go
Due: go-lint

Regenerate proto files
  x/bridge/types/genesis.pb.go
Due: go-lint

Log unavailable seed files in hardhat config
  tests/system/hardhat.config.ts
Due: none

Introduce eoaController and pauser role aliases
  tests/system/test/TripartyBridge.test.ts
Due: none

Remove unnecessary setTripartyLimits from disallowed controller test
  tests/system/test/TripartyBridge.test.ts
Due: none

Rename "Pause state getter" to "Setting paused flag"
  tests/system/test/TripartyBridge.test.ts
Due: none

Tighten default delay wait and move chain-health check to it block
  tests/system/test/TripartyBridge.test.ts
Due: none

Log ignored events during requestId extraction
  tests/system/test/TripartyBridge.test.ts
Due: none

Tighten callback gas cap wait from +3 to +2
  tests/system/test/TripartyBridge.test.ts
Due: none

Replace C4 shorthand with full describe block name
  tests/system/test/TripartyBridge.test.ts
Due: none

Replace D3 shorthand label with descriptive comment
  tests/system/test/TripartyBridge.test.ts
Due: none

Update assets bridge bytecode
  precompile/assetsbridge/byte_code.go
Due: go-lint

Bundle global and per-controller provenance counter increments
  x/bridge/keeper/genesis.go
  x/bridge/keeper/triparty.go
Due: go-lint

Update BridgeKeeper interface for string controller parameter
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
Due: go-lint

Add per-controller provenance assertions and multi-controller test
  x/bridge/keeper/triparty_test.go
Due: go-lint

Derive triparty total BTC minted from per-controller counters
  docs/rfc/rfc-6.md
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty_test.go
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/genesis.go
  x/bridge/keeper/genesis_test.go
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/genesis_test.go
  x/bridge/types/keys.go
Due: go-lint, markdown-format

Add per-controller provenance assertions to system tests
  tests/system/test/TripartyBridge.test.ts
Due: none

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
