Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Implemented Name() function for custom precompiles
  precompile/assetsbridge/assets_bridge.go
  precompile/btctoken/btctoken.go
  precompile/contract.go
  precompile/contract_test.go
  precompile/maintenance/maintenance.go
  precompile/mezotoken/mezotoken.go
  precompile/priceoracle/price_oracle.go
  precompile/testbed/testbed.go
  precompile/upgrade/upgrade.go
  precompile/validatorpool/validatorpool.go
  precompile/version_map_test.go
Due: go-lint

Updated CI workflow job name
  .github/workflows/geth-upgrade-todos.yml
Due: none

Add MovePrecompileTo support to eth_call state overrides
  rpc/types/types.go
  x/evm/keeper/state_override.go
  x/evm/keeper/state_override_test.go
  x/evm/keeper/state_transition.go
Due: go-lint

Add Hardhat system test for MovePrecompileTo via eth_call
  tests/system/test/SimulateV1_MovePrecompile_ethCall.test.ts
Due: none

Update eth_simulateV1 plan for Phase 2 and Phase 12 notes
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Return domain sentinel errors from applyStateOverrides
  rpc/types/override_errors.go
  rpc/types/override_errors_test.go
  x/evm/keeper/state_override.go
  x/evm/keeper/state_override_test.go
  x/evm/types/override_errors.go
Due: go-lint

Resolve internal contradictions in eth_simulateV1 plan
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Drop RPC-code references from x/evm domain errors
  x/evm/keeper/state_override.go
  x/evm/types/override_errors.go
Due: go-lint

Adopt proto-field error surface for simulate state overrides
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  rpc/backend/simulate.go
  rpc/types/override_errors.go
  rpc/types/override_errors_test.go
Due: go-lint, markdown-format

Simplified fee calculation
  x/feemarket/keeper/eip1559.go
Due: go-lint

Resolve rules once in SimulateMessage
  x/evm/keeper/state_transition.go
Due: go-lint

Add NewEVMWithOverrides and StateDB.FinaliseBetweenCalls helpers
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Add SimError type and spec-coded error catalog
  x/evm/types/simulate_v1_errors.go
  x/evm/types/simulate_v1_errors_test.go
Due: go-lint

Lift override types to x/evm/types and return *SimError
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_override.go
  x/evm/keeper/state_override_test.go
  x/evm/types/override_errors.go
  x/evm/types/state_overrides.go
Due: go-lint

Add SimulateV1 gRPC surface and keeper driver
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Wire eth_simulateV1 into the JSON-RPC backend
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  rpc/backend/mocks/evm_query_client.go
  rpc/backend/mocks/feemarket_query_client.go
  rpc/backend/mocks/oracle.go
  rpc/backend/simulate.go
  rpc/backend/simulate_test.go
  rpc/types/errors.go
  rpc/types/errors_test.go
  rpc/types/simulate.go
  rpc/types/simulate_test.go
  tests/system/test/SimulateV1_Stub.test.ts
Due: go-lint, markdown-format

Slim eth_simulateV1 plan
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Add system tests for eth_simulateV1 single-call and rejected overrides
  proto/ethermint/evm/v1/query.proto
  proto/mezo/bridge/v1/genesis.proto
  tests/system/test/SimulateV1_RejectedOverrides.test.ts
  tests/system/test/SimulateV1_SingleCall.test.ts
  tests/system/test/SimulateV1_Stub.test.ts
  x/bridge/types/genesis.pb.go
  x/evm/types/query.pb.go
Due: go-lint

Rename simulate.go to simulate_v1.go under rpc/
  .claude/MEZO-4227-eth-simulate-v1/plan.md
  rpc/backend/simulate_v1.go
  rpc/backend/simulate_v1_test.go
  rpc/namespaces/ethereum/eth/simulate_v1.go
  rpc/types/simulate_v1.go
  rpc/types/simulate_v1_test.go
  x/evm/types/simulate_v1.go
Due: go-lint, markdown-format

Unify eth_simulateV1 types in x/evm/types
  rpc/backend/backend.go
  rpc/backend/simulate_v1.go
  rpc/backend/simulate_v1_test.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/simulate_v1.go
  rpc/types/simulate_v1.go
  rpc/types/simulate_v1_test.go
  x/evm/types/simulate_v1.go
  x/evm/types/simulate_v1_test.go
Due: go-lint

Resolve block hash for eth_simulateV1 header lookup
  rpc/backend/simulate_v1.go
Due: go-lint

Consolidate StateOverride / OverrideAccount under x/evm/types
  rpc/backend/backend.go
  rpc/backend/call_tx.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/types/types.go
  x/evm/types/state_overrides.go
Due: go-lint

Honor overridden nonce, default Coinbase, wrap header-lookup error
  rpc/backend/simulate_v1.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/simulate_v1.go
Due: go-lint

Polish eth_simulateV1 header derivation and timestamp defaulting
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/simulate_v1_test.go
Due: go-lint

Fix binding generation
  Dockerfile.bridge-worker
  Dockerfile.metrics-scraper
  go.mod
  go.sum
Due: none

Add StateDB.SetTxConfig and BlockGasLimitReached SimError
  x/evm/statedb/statedb.go
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Execute multi-call and multi-block eth_simulateV1 requests
  x/evm/keeper/grpc_query.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/simulate_v1.go
Due: go-lint

Test multi-call and multi-block eth_simulateV1 in the keeper
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1_test.go
Due: go-lint

Add system tests for multi-call and multi-block eth_simulateV1
  tests/system/test/SimulateV1_MultiBlock.test.ts
  tests/system/test/SimulateV1_MultiCall.test.ts
Due: none

Resolve eth_simulateV1 BlockNumberOrHash to concrete height
  rpc/backend/simulate_v1.go
Due: go-lint

Fall back to RPC gas cap when sim base header gas limit is zero
  x/evm/keeper/grpc_query.go
Due: go-lint

Silence gosec G115 on MultiBlock BLOCKHASH test cast
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Cover custom Mezo precompile state in eth_simulateV1 system tests
  tests/system/test/SimulateV1_MultiBlock.test.ts
  tests/system/test/SimulateV1_MultiCall.test.ts
Due: none

Collapse shipped phases 6 and 7 in eth_simulateV1 plan
  .claude/MEZO-4227-eth-simulate-v1/plan.md
Due: markdown-format

Anchor eth_simulateV1 result[0].parentHash to the canonical base hash
  proto/ethermint/evm/v1/query.proto
  rpc/backend/simulate_v1.go
  rpc/backend/simulate_v1_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/simulate_v1.go
  x/evm/types/query.pb.go
Due: go-lint

Fix linter errors
  rpc/backend/simulate_v1_test.go
  x/evm/types/query.pb.go
Due: go-lint

Anchor eth_simulateV1 parentHash to the CometBFT block hash
  rpc/backend/simulate_v1.go
  rpc/backend/simulate_v1_test.go
Due: go-lint

Read simulate base gas limit from consensus keeper
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Add SimError constructors for block gas, intrinsic gas, and fork span
  x/evm/types/simulate_v1_errors.go
Due: go-lint

Add StateDB.SetTxContext and clear journal in FinaliseBetweenCalls
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Due: go-lint

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
