Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

go-lint:
  name: lint go
  entry: /usr/bin/env bash -c 'make lint'
  language: script
  description: Lint and format Go code

markdown-format:
  name: format markdown
  entry: /usr/bin/env bash -c 'make format-markdown'
  language: script
  description: Format Markdown files

Constrain bridgeOutWithPayload to an Ethereum target
  docs/rfc/rfc-7.md
Due: markdown-format

Pay the Solver-chosen payout address in the borrow example
  docs/rfc/rfc-7.md
Due: markdown-format

Index PayloadRecorded by the unique bridge sequence
  docs/rfc/rfc-7.md
Due: markdown-format

Tie the Ethereum-only payload constraint to hook actionability
  docs/rfc/rfc-7.md
Due: markdown-format

Monitor liquidation-bot balance on Mezo in production
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
Due: none

Fix sidecar attestation bitmap check
  ethereum/sidecar/attestation_validator.go
  ethereum/sidecar/attestation_validator_test.go
Due: go-lint

Enable go-ethereum metrics collection when --metrics is set
  server/start.go
Due: go-lint

Monitor earn-bot wallet balance on Mezo and Ethereum
  infrastructure/kubernetes/mezo-production/monitoring/balance-exporter/configmap.yaml
Due: none

Monitor earn-bot bridge fee runs
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/earn-bot.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/earn-bot.json
Due: none

Fix Grafana crash loop by pinning image and raising memory limit
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
Due: none

Raise Grafana memory limit to 2Gi
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
Due: none

Point staging api-metrics scrape at api.testnet.mezo.org
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Add nil-guard tracer Stop in trace timeout goroutine
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
Due: go-lint

Protect EthCall, EstimateGas, SimulateV1 queries against resource exhaustion
  app/app.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/simulate_v1.go
  x/evm/keeper/state_transition.go
Due: go-lint

Bump testnet validators and mainnet RPC to v11.0.1
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Bump mezod chart to 12.1.0 for shutdown grace period
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Add incident report for July 2026 LevelDB corruption
  docs/reports/2026-07-02-leveldb-corruption.md
Due: markdown-format

Expand recovery guides in LevelDB corruption report
  docs/reports/2026-07-02-leveldb-corruption.md
Due: markdown-format

Generalize recovery guidance in LevelDB corruption report
  docs/reports/2026-07-02-leveldb-corruption.md
Due: markdown-format

Make offline rebuild self-contained in corruption report
  docs/reports/2026-07-02-leveldb-corruption.md
Due: markdown-format

Clarify snapshot services and collapse rebuild appendix
  docs/reports/2026-07-02-leveldb-corruption.md
Due: markdown-format

Add evmindexer.db to corruption-prone database list
  docs/reports/2026-07-02-leveldb-corruption.md
Due: markdown-format

Cut Pyth price-pusher update cost on Mezo
  infrastructure/kubernetes/common/pyth-scheduler-mezo/configmap.yaml
  infrastructure/kubernetes/common/pyth-scheduler-mezo/deployment.yaml
Due: none

Add Pyth price pusher Kubernetes manifests
  infrastructure/kubernetes/common/pyth-pusher-ethereum/README.md
  infrastructure/kubernetes/common/pyth-pusher-ethereum/configmap.yaml
  infrastructure/kubernetes/common/pyth-pusher-ethereum/deployment.yaml
  infrastructure/kubernetes/common/pyth-pusher-ethereum/kustomization.yaml
  infrastructure/kubernetes/common/pyth-pusher-mezo/README.md
  infrastructure/kubernetes/common/pyth-pusher-mezo/configmap.yaml
  infrastructure/kubernetes/common/pyth-pusher-mezo/deployment.yaml
  infrastructure/kubernetes/common/pyth-pusher-mezo/kustomization.yaml
  infrastructure/kubernetes/mezo-production/pyth-pusher-ethereum/kustomization.yaml
  infrastructure/kubernetes/mezo-production/pyth-pusher-mezo/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/pyth-pusher-ethereum/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/pyth-pusher-mezo/kustomization.yaml
Due: markdown-format

Remove empty lines and improve docs
  infrastructure/kubernetes/common/pyth-pusher-ethereum/README.md
  infrastructure/kubernetes/common/pyth-pusher-ethereum/configmap.yaml
  infrastructure/kubernetes/common/pyth-pusher-mezo/README.md
Due: markdown-format

Remove equities price feeds from Pyth pusher
  infrastructure/kubernetes/common/pyth-pusher-ethereum/configmap.yaml
  infrastructure/kubernetes/common/pyth-pusher-mezo/configmap.yaml
Due: none

Bound and validate eth_getProof storage keys
  rpc/backend/account_info.go
  rpc/backend/account_info_test.go
  rpc/backend/node_info.go
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
Due: go-lint

Bump cosmos-sdk from v0.50.10 to v0.50.15
  go.mod
  go.sum
Due: none

Raise JSON-RPC logs filter address cap on testnet nodes
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Raise JSON-RPC logs filter address cap on mezo-node-3
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
Due: none

Make EVM trace query tracers and timeout configurable
  app/app.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
Due: go-lint

Align StateDB account existence with go-ethereum
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Due: go-lint

Add v12.0.0 planned upgrade with chain halt
  app/upgrades.go
  app/upgrades/v12_0/constants.go
  app/upgrades/v12_0/upgrades.go
  docs/upgrades.md
Due: go-lint, markdown-format

Bump testnet nodes to v12.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Record v12.0.0 upgrade blocks in upgrades doc
  docs/upgrades.md
Due: markdown-format

Bump testnet validators and mainnet RPC to v12.0.0
  infrastructure/kubernetes/mezo-production/helmfile.yaml
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

Remove image and tag overrides from testnet node values
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Disable self-destruct
  app/upgrades.go
  app/upgrades/v13_0/constants.go
  app/upgrades/v13_0/upgrades.go
  docs/evm-compatibility.md
  go.mod
  go.sum
  precompile/hardhat/contracts/MaintenanceCaller.sol
  precompile/maintenance/IMaintenance.sol
  precompile/maintenance/abi.json
  precompile/maintenance/byte_code.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/self_destruct.go
  precompile/maintenance/self_destruct_test.go
  precompile/maintenance/setup_test.go
  tests/system/test/BTCTransfers.test.ts
  tests/system/test/Selfdestruct.test.ts
  tests/system/test/Selfdestruct6780Check.test.ts
  tests/system/test/SelfdestructSupplyInvariant.test.ts
  tests/system/test/SimulateV1_SpecCompliance.test.ts
  x/evm/keeper/selfdestruct_eip_test.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/types/params.go
  x/evm/types/precompile.go
Due: go-lint, markdown-format

Path conditions:
  go-lint: any of: \.go$
  markdown-format: any of: \.md
