Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Added Hardhat tasks for disabling SELFDESTRUCT opcode
  precompile/hardhat/tasks/maintenance.ts
Due: none

Validate precompile balance changes
  precompile/assetsbridge/bridge_out_test.go
  precompile/contract.go
  precompile/contract_test.go
Due: go-lint

Simplify balance checks
  precompile/contract.go
  precompile/contract_test.go
Due: go-lint

Improve unit tests
  precompile/contract_test.go
Due: go-lint

Regenerate x/evm protobuf code
  x/evm/types/tx.pb.go
Due: go-lint

Add the Emergency Team role to x/poa
  proto/mezo/poa/v1/genesis.proto
  x/poa/keeper/emergency_team.go
  x/poa/keeper/emergency_team_test.go
  x/poa/keeper/genesis.go
  x/poa/keeper/genesis_test.go
  x/poa/spec/01_state.md
  x/poa/spec/README.md
  x/poa/types/genesis.go
  x/poa/types/genesis.pb.go
  x/poa/types/key.go
Due: go-lint, markdown-format

Replace the bridge pauser with lockdown flags
  app/upgrades/v9_0/upgrades.go
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/byte_code.go
  precompile/assetsbridge/pause.go
  precompile/assetsbridge/pause_test.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  precompile/assetsbridge/versions_test.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
  precompile/hardhat/tasks/assetsbridge.ts
  proto/mezo/bridge/v1/genesis.proto
  tests/system/test/TripartyBridge.test.ts
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/assets_unlocked_test.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/genesis_test.go
  x/bridge/keeper/legacy.go
  x/bridge/keeper/pause.go
  x/bridge/keeper/pause_test.go
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/genesis_test.go
  x/bridge/types/keys.go
  x/evm/types/precompile.go
Due: go-lint

Add emergency controls to the maintenance precompile
  app/app.go
  precompile/hardhat/contracts/MaintenanceCaller.sol
  precompile/hardhat/tasks/maintenance.ts
  precompile/maintenance/IMaintenance.sol
  precompile/maintenance/abi.json
  precompile/maintenance/bridge_lockdown.go
  precompile/maintenance/bridge_lockdown_test.go
  precompile/maintenance/byte_code.go
  precompile/maintenance/emergency_team.go
  precompile/maintenance/emergency_team_test.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  precompile/maintenance/versions_test.go
Due: go-lint

Migrate emergency controls in the v13.0.0 upgrade
  app/upgrades/v13_0/upgrades.go
  app/upgrades/v13_0/upgrades_test.go
  docs/upgrades.md
Due: go-lint, markdown-format

Document the emergency controls
  docs/emergency-controls.md
  docs/precompile.md
  docs/rfc/rfc-6.md
Due: markdown-format

Add the EmergencyControls system test suite
  tests/system/test/EmergencyControls.test.ts
Due: none

Remove the pause methods from the assets bridge precompile
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/byte_code.go
  precompile/assetsbridge/pause.go
  precompile/assetsbridge/pause_test.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  precompile/assetsbridge/versions_test.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
  tests/system/test/EmergencyControls.test.ts
Due: go-lint

Regenerate the metrics-scraper assets bridge binding
  metrics-scraper/assetsbridge.go
Due: go-lint

Delete the retired pause state in the v13.0.0 upgrade
  app/upgrades/v13_0/upgrades.go
  app/upgrades/v13_0/upgrades_test.go
  app/upgrades/v9_0/upgrades.go
  x/bridge/keeper/legacy.go
  x/bridge/keeper/pause.go
  x/bridge/types/keys.go
Due: go-lint

Read the emergency role holders from the chain
  docs/emergency-controls.md
  docs/precompile.md
  docs/rfc/rfc-6.md
Due: markdown-format

Enforce the bridge-in pause on the validator-observed path
  docs/emergency-controls.md
  x/bridge/abci/interfaces.go
  x/bridge/abci/proposal.go
  x/bridge/abci/proposal_test.go
  x/bridge/abci/vote_extension_test.go
Due: go-lint, markdown-format

Add the transaction lockdown parameters to x/evm
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: go-lint

Add the transaction lockdown methods to the maintenance precompile
  precompile/hardhat/contracts/MaintenanceCaller.sol
  precompile/hardhat/tasks/maintenance.ts
  precompile/maintenance/IMaintenance.sol
  precompile/maintenance/abi.json
  precompile/maintenance/byte_code.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  precompile/maintenance/tx_lockdown.go
  precompile/maintenance/tx_lockdown_test.go
  precompile/maintenance/versions_test.go
Due: go-lint

Enforce the transaction lockdown in the EVM ante handler
  app/ante/evm/interfaces.go
  app/ante/evm/tx_lockdown.go
  app/ante/evm/tx_lockdown_test.go
  app/ante/handler_options.go
  app/ante/handler_options_test.go
  app/app.go
Due: go-lint

Document the transaction lockdown
  docs/emergency-controls.md
Due: markdown-format

Add a system suite for the transaction lockdown
  tests/system/test/TxLockdown.test.ts
Due: none

Add a chain lockdown drill for a throwaway localnode
  tests/system/chain-lockdown-drill.sh
Due: none

Add the chain lockdown method to the maintenance precompile
  app/app.go
  precompile/hardhat/contracts/MaintenanceCaller.sol
  precompile/hardhat/tasks/maintenance.ts
  precompile/maintenance/IMaintenance.sol
  precompile/maintenance/abi.json
  precompile/maintenance/byte_code.go
  precompile/maintenance/chain_lockdown.go
  precompile/maintenance/chain_lockdown_internal_test.go
  precompile/maintenance/chain_lockdown_test.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  precompile/maintenance/versions_test.go
Due: go-lint

Document the chain lockdown
  docs/emergency-controls.md
  docs/upgrades.md
Due: markdown-format

Reword lockdown doc passages for clarity
  docs/emergency-controls.md
Due: markdown-format

Take the upgrade plan name as a setChainLockdown argument
  precompile/hardhat/contracts/MaintenanceCaller.sol
  precompile/hardhat/tasks/maintenance.ts
  precompile/maintenance/IMaintenance.sol
  precompile/maintenance/abi.json
  precompile/maintenance/byte_code.go
  precompile/maintenance/chain_lockdown.go
  precompile/maintenance/chain_lockdown_internal_test.go
  precompile/maintenance/chain_lockdown_test.go
  precompile/maintenance/maintenance.go
  precompile/maintenance/setup_test.go
  precompile/maintenance/versions_test.go
Due: go-lint

Pass the plan name in the chain lockdown drill
  tests/system/chain-lockdown-drill.sh
Due: none

Document the caller-picked chain lockdown plan name
  docs/emergency-controls.md
  docs/upgrades.md
Due: markdown-format

Add bridge-out chain set to the bridge module
  proto/mezo/bridge/v1/genesis.proto
  x/bridge/keeper/assets_unlocked.go
  x/bridge/keeper/assets_unlocked_test.go
  x/bridge/keeper/bridge_out_chains.go
  x/bridge/keeper/bridge_out_chains_test.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/genesis_test.go
  x/bridge/keeper/keeper_test.go
  x/bridge/types/errors.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/genesis_test.go
  x/bridge/types/keys.go
Due: go-lint

Seed the bridge-out chain set in the v13.0.0 upgrade
  app/upgrades/v13_0/upgrades.go
  app/upgrades/v13_0/upgrades_test.go
Due: go-lint

Expose the bridge-out chain set on the assets bridge precompile
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/bridge_out_chains.go
  precompile/assetsbridge/bridge_out_chains_test.go
  precompile/assetsbridge/byte_code.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/versions_test.go
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
  precompile/hardhat/tasks/assetsbridge.ts
Due: go-lint

Document the bridge-out chain set
  docs/emergency-controls.md
  docs/precompile.md
Due: markdown-format

Add the BridgeOutChains system test suite
  tests/system/test/BridgeOutChains.test.ts
Due: none

Revert "Document the bridge-out chain set"
  docs/emergency-controls.md
  docs/precompile.md
Due: markdown-format

Fold the bridge-out chain cases into AssetsBridge
  tests/system/test/AssetsBridge.test.ts
  tests/system/test/BridgeOutChains.test.ts
Due: none

Bump testnet nodes to v13.0.0-rc0
  infrastructure/kubernetes/mezo-staging/values/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/values/mezo-node-4.yaml
Due: none

Back off the remaining externally-routed scrape jobs to 60s
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Raise the global scrape interval from 2s to 15s
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Scrape earn-bot every 60s instead of every 2s
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none

Give the application metrics jobs explicit intervals
  infrastructure/kubernetes/mezo-production/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/prometheus/configmap.yaml
Due: none
