Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Add Hardhat tasks for triparty block delay and limits methods
  precompile/hardhat/tasks/assetsbridge.ts
Due: none

Adjusting nomenclature in RFC-6 s/period/window
  docs/rfc/rfc-6.md
Due: markdown-format

Cover all new keeper triparty bridging functions with unit tests
  x/bridge/keeper/triparty_test.go
Due: go-lint

Enhanced triparty precompile unit tests
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Protobuf message for TripartyBridgeRequest
  proto/mezo/bridge/v1/bridge.proto
  x/bridge/types/bridge.pb.go
Due: go-lint

Add triparty bridge request CRUD and sequence tracking
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/keys.go
Due: go-lint

Adjust RFC-6 pauseTriparty description to match implementation
  docs/rfc/rfc-6.md
Due: markdown-format

Add triparty window capacity tracking CRUD
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
  x/bridge/types/keys.go
Due: go-lint

Add triparty total BTC minted provenance counter CRUD
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/keys.go
Due: go-lint

Address linter complains
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
Due: go-lint

Align RFC-6 with triparty implementation wrt sequence tip
  docs/rfc/rfc-6.md
Due: markdown-format

Improve validation of values fetched from keeper's store
  x/bridge/keeper/triparty.go
Due: go-lint

Be explicit about amount precision in TripartyBridgeRequest proto
  proto/mezo/bridge/v1/bridge.proto
  x/bridge/types/bridge.pb.go
Due: go-lint

Represent triparty recipient and controller as strings in proto
  proto/mezo/bridge/v1/bridge.proto
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/bridge.pb.go
Due: go-lint

Add TODOs for all missing preblocker validations
  x/bridge/keeper/triparty.go
Due: go-lint

Extract test triparty recipient and controller to constants
  x/bridge/keeper/triparty_test.go
Due: go-lint

Wire up triparty precompile with keeper for bridging requests
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/abi.json
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
Due: go-lint

Validate controller in keeper's function for triparty bridging
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
Due: go-lint

Move triparty paused check from precompile into keeper
  precompile/assetsbridge/assets_bridge.go
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
Due: go-lint

Remove duplicate IsAllowedTripartyController check from precompile
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Validate inputs in keeper's CreateTripartyBridgeRequest
  precompile/assetsbridge/IAssetsBridge.sol
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty.go
  precompile/assetsbridge/triparty_test.go
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
Due: go-lint

Extend ContractCall interface with GasLimit
  x/evm/keeper/call.go
  x/evm/keeper/call_test.go
  x/evm/keeper/keeper.go
  x/evm/types/call.go
Due: go-lint

Add bridge interfaces and types for triparty PreBlocker processing
  x/bridge/abci/interfaces.go
  x/bridge/types/errors.go
  x/bridge/types/interfaces.go
  x/bridge/types/keys.go
Due: go-lint

Process triparty bridge requests in PreBlocker
  x/bridge/keeper/keeper_test.go
  x/bridge/keeper/triparty.go
Due: go-lint

Invoke triparty processing at the start of bridge PreBlocker
  x/bridge/abci/preblock.go
Due: go-lint

Add tests for triparty PreBlocker processing
  x/bridge/abci/preblock_test.go
  x/bridge/abci/vote_extension_test.go
  x/bridge/keeper/triparty_test.go
Due: go-lint

Keep request construction unchanged in CreateTripartyBridgeRequest
  x/bridge/keeper/triparty.go
Due: go-lint

Use addition for maturity check to avoid subtraction underflow
  x/bridge/keeper/triparty.go
Due: go-lint

Adjust AssetsBridgeCaller for the changes in IAssetsBridge
  precompile/hardhat/contracts/AssetsBridgeCaller.sol
Due: none

Accept optional callbackData for HH bridgeTriparty task
  precompile/hardhat/tasks/assetsbridge.ts
Due: none

Update EvmByteCode for assetsbridge precompile
  precompile/assetsbridge/byte_code.go
Due: go-lint

RFC-6: Require 0.01 minimum for requesting triparty bridging
  docs/rfc/rfc-6.md
Due: markdown-format

Add validation in bridge keeper for min triparty amount
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
  x/bridge/types/errors.go
Due: go-lint

Simplify precompile tests for requesting triparty bridging
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Refactor TestBridgeTriparty precompile test to focus on inputs
  precompile/assetsbridge/setup_test.go
  precompile/assetsbridge/triparty_test.go
Due: go-lint

Explain min triparty amount in IAssetsBridge
  precompile/assetsbridge/IAssetsBridge.sol
Due: none

Fixed unit tests
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
Due: go-lint

Made the `GetTripartyProcessedSequenceTip` function private
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
Due: go-lint

Removed unnecessary function
  x/bridge/keeper/triparty.go
  x/bridge/keeper/triparty_test.go
Due: go-lint

Updated function description
  x/bridge/keeper/triparty.go
Due: go-lint
