Repository mezo-org/mezod: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, markdown-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/mezo-org/pre-commit-hooks.git
    rev: 31903eabdb97f5a3375fb1ea419ff782de64d7e7
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: go-lint
        name: 'lint go'
        entry: /usr/bin/env bash -c 'make lint'
        files: '\.go$'
        language: script
        description: "Lint and format Go code"
      - id: markdown-format
        name: 'format markdown'
        entry: /usr/bin/env bash -c 'make format-markdown'
        files: '\.md'
        language: script
        description: "Format Markdown files"

Set bytecode for MEZO precompile
  precompile/hardhat/contracts/MEZOCaller.sol
  precompile/hardhat/copy-interfaces.sh
  precompile/mezotoken/byte_code.go
Due: go-lint

Bump Mezo testnet nodes to v1.0.0-rc0
  infrastructure/kubernetes/mezo-staging/helmfile.yaml
Due: none

HH tasks to interact with MEZO precompile
  precompile/hardhat/hardhat.config.ts
  precompile/hardhat/tasks/mezotoken.ts
Due: none

Fix TestCustomPrecompileGenesisAccounts unit test
  x/evm/keeper/keeper_test.go
Due: go-lint

Register default version of MEZO precompile to be used at genesis
  x/evm/types/precompile.go
Due: go-lint

Add MEZO precompile to docs
  docs/precompile.md
Due: markdown-format

Ignore temporary markdown link check error
  docs/precompile.md
Due: markdown-format

Adjust system test script to ERC20 precompile changes
  tests/system/system-tests.sh
Due: none

Rename system test MezoTransfers to BTCTransfers
  tests/system/contracts/BTCTransfers.sol
  tests/system/deploy/01_deploy_btc_transfers.ts
  tests/system/test/BTCTransfers.test.ts
Due: none

System test scenarios for MEZO precompile
  scripts/localnode-start.sh
  tests/system/contracts/MEZOTransfers.sol
  tests/system/deploy/02_deploy_mezo_transfers.ts
  tests/system/test/BTCTransfers.test.ts
  tests/system/test/MEZOTransfers.test.ts
Due: none

Add MEZO supply for localnet
  cmd/mezod/testnet.go
Due: go-lint

add simple monitoring for the validators versions
  cmd/monitoring/main.go
  go.mod
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

fix golangci-lint lints reports
  cmd/monitoring/main.go
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

linter fixes yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

base k8s infrastructure
  Dockerfile.monitoring
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/ingress.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/namespace.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/persistent-volume-claim.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/scrapping/configmap.yaml
  infrastructure/kubernetes/monitoring/scrapping/deployment.yaml
  infrastructure/kubernetes/monitoring/scrapping/service.yaml
Due: none

linter fixes on kustomization
  infrastructure/kubernetes/monitoring/kustomization.yaml
Due: none

add latest metrics + logging + move network id in config
  monitoring/config.go
  monitoring/config.json
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

linter fixes on Docker.monitoring
  Dockerfile.monitoring
Due: none

rename persistent-volume-claim to pvc
  infrastructure/kubernetes/monitoring/grafana/pvc.yaml
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/prometheus/pvc.yaml
Due: none

add secrets to grafana deployement
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Due: markdown-format

try to disable an option for kubeval
  .github/workflows/super-linter.yml
Due: none

update metrics name + add up gauge
  monitoring/monitoring.go
  monitoring/prometheus.go
Due: go-lint

rename monitoring to metrics-scraper
  Dockerfile.metrics-scraper
  Makefile
  cmd/metrics-scraper/main.go
  go.sum
  infrastructure/kubernetes/monitoring/kustomization.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/monitoring/metrics-scraper/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  metrics-scraper/config.go
  metrics-scraper/config.json
  metrics-scraper/monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

add step to build the monitoring docker image
  Makefile
Due: none

ignore unnecessary hadolint lint
  Dockerfile.monitoring
Due: none

attach the monitoring IP to the metrics-scraper service
  infrastructure/kubernetes/monitoring/metrics-scraper/service.yaml
Due: none

move monitoring base under kubernetes/common and production / staging related overlay under the relevant folders
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/grafana/pvc.yaml
  infrastructure/kubernetes/common/monitoring/grafana/service.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/service.yaml
  infrastructure/kubernetes/common/monitoring/namespace.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/pvc.yaml
  infrastructure/kubernetes/common/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-production/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/deployement-patch.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/ingress.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/monitoring/README.md
Due: markdown-format

rename network -> chain_id
  metrics-scraper/config.go
  metrics-scraper/config.json
  metrics-scraper/monitoring.go
  metrics-scraper/prometheus.go
Due: go-lint

run yamllint
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
Due: none

run yamllint
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
Due: none

split kustomize base and overlays in separate folders
  infrastructure/kubernetes/monitoring/README.md
  infrastructure/kubernetes/monitoring/base/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/base/grafana/pvc.yaml
  infrastructure/kubernetes/monitoring/base/grafana/service.yaml
  infrastructure/kubernetes/monitoring/base/kustomization.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/monitoring/base/metrics-scraper/service.yaml
  infrastructure/kubernetes/monitoring/base/namespace.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/pvc.yaml
  infrastructure/kubernetes/monitoring/base/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/production/grafana/deployement-patch.yaml
  infrastructure/kubernetes/monitoring/production/ingress.yaml
  infrastructure/kubernetes/monitoring/production/kustomization.yaml
  infrastructure/kubernetes/monitoring/production/metrics-scraper/service-patch.yaml
  infrastructure/kubernetes/monitoring/staging/grafana/deployement-patch.yaml
  infrastructure/kubernetes/monitoring/staging/ingress.yaml
  infrastructure/kubernetes/monitoring/staging/kustomization.yaml
  infrastructure/kubernetes/monitoring/staging/metrics-scraper/service-patch.yaml
  infrastructure/terraform/mezo-staging/ssl_certificates.tf
  infrastructure/terraform/mezo-staging/variables.tf
Due: markdown-format

More configuration
  Dockerfile.metrics-scraper
  infrastructure/kubernetes/common/monitoring/grafana/config/dashboards.yaml
  infrastructure/kubernetes/common/monitoring/grafana/config/datasources.yaml
  infrastructure/kubernetes/common/monitoring/grafana/config/grafana.ini
  infrastructure/kubernetes/common/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/common/monitoring/kustomization.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/configmap.yaml
  infrastructure/kubernetes/common/monitoring/metrics-scraper/deployment.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.yaml
  infrastructure/kubernetes/mezo-production/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-production/monitoring/metrics-scraper/config/config.json
  infrastructure/kubernetes/mezo-staging/monitoring/grafana/dashboards/mezo-nodes-public.json
  infrastructure/kubernetes/mezo-staging/monitoring/kustomization.yaml
  infrastructure/kubernetes/mezo-staging/monitoring/metrics-scraper/config/config.json
Due: none

go mod tidy
  go.sum
Due: none

fix linter issues
  infrastructure/kubernetes/common/monitoring/grafana/config/dashboards.yaml
  infrastructure/kubernetes/mezo-production/monitoring/grafana/dashboards/mezo-nodes-public.json
Due: none

Allow setting bridge validators at genesis
  cmd/mezod/testnet.go
  proto/mezo/poa/v1/genesis.proto
  proto/mezo/poa/v1/poa.proto
  x/poa/keeper/genesis.go
  x/poa/types/genesis.go
  x/poa/types/genesis.pb.go
  x/poa/types/poa.pb.go
Due: go-lint

add some initial documentation for mezo-staging monitoring
  infrastructure/kubernetes/mezo-staging/monitoring/README.md
Due: markdown-format

Pre-mainnet genesis file
  chain/mainnet/mezo_31612-1/genesis.json
  chain/mainnet/mezo_31612-1/seeds.txt
Due: none

Fix entrypoint.sh
  entrypoint.sh
Due: none

Add a CI workflow for building and publishing client binary to GCP AR
  .github/workflows/client.yml
  .gitignore
Due: none

Fix security advisory GHSA-2hq6-q2xv-9jgv
  x/bridge/abci/proposal.go
  x/bridge/abci/proposal_test.go
Due: go-lint
